.fp-section{
  &.fp-completely{
    .fade_up{
      //opacity: 1;
      //transform: translate(0,0);
      animation: fade-up 0.8s forwards;
    }
  }
}

.fade_up {
  opacity: 0;
  transform: translate(0,-30px);
  //transition: opacity 0.8s,transform 0.8s;
  &.on {
    //opacity: 1;
    //transform: translate(0,0);
  }
}

.delay1{
  animation-delay: 0.2s!important;
}
.delay2{
  animation-delay: 0.4s!important;
}
.delay3{
  animation-delay: 0.6s!important;
}
.delay4{
  animation-delay: 0.8s!important;
}
.delay5{
  animation-delay: 1s!important;
}
.delay6{
  animation-delay: 1.2s!important;
}
.delay7{
  animation-delay: 1.4s!important;
}

@keyframes fade-in {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }
  
@keyframes fade-up {
    0% {
      opacity: 0;
      transform: translate(0,-30px);
    }

    1% {
      opacity: 0;
      transform: translate(0,-30px);
    }

    100% {
      opacity: 1;
      transform: translate(0,0);
    }
  }

@keyframes nav-open {
    0% {
      display: none;
      opacity: 0;
      height: 0;
    }

    1% {
      display: block;
      opacity: 0;
      height: 0;
    }

    100% {
      display: block;
      opacity: 1;
      height: 100vh;
    }
  }