@font-face {
  font-family: 'fontello';
  src: url('https://dl.dropboxusercontent.com/s/f5upgc6jd0owl4g/fontello.eot');
  src: url('https://dl.dropboxusercontent.com/s/f5upgc6jd0owl4g/fontello.eot#iefix') format('embedded-opentype'),
       url('https://dl.dropboxusercontent.com/s/pdaki2hh7iyznir/fontello.woff2') format('woff2'),
       url('https://dl.dropboxusercontent.com/s/gcd6468xkeu4e50/fontello.woff') format('woff'),
       url('https://dl.dropboxusercontent.com/s/4queshzgx36kcse/fontello.ttf') format('truetype'),
       url('https://dl.dropboxusercontent.com/s/9tzn3rbh1fwec8t/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23302365#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-line:before { content: '\e800'; }
.icon-pocket:before { content: '\e801'; }
.icon-get-pocket:before { content: '\e801'; }
.icon-facebook:before { content: '\e802'; }
.icon-feedly:before { content: '\e803'; }
.icon-gplus:before { content: '\e804'; }
.icon-hatebu:before { content: '\e805'; }
.icon-twitter:before { content: '\e806'; }
.icon-hatenablog:before { content: '\e807'; }