@import url('https://fonts.googleapis.com/css?family=Chonburi');
$color01:#ffffff;
$color02:#FFF100;
$color03:#ff1371;

$font01:"ゴシックMB101 R",
"ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
"メイリオ",
Meiryo,
Osaka,
"ＭＳ Ｐゴシック",
"MS PGothic",
"sans-serif";
$font02:'ゴシックMB101 B',
"ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
"メイリオ",
Meiryo,
Osaka,
"ＭＳ Ｐゴシック",
"MS PGothic",
"sans-serif";

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

$font02:'ゴシックMB101 B',
"Yu Gothic Medium",
"游ゴシック Medium",
YuGothic,
"游ゴシック体";

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

html {
    &.sb-active {
        header {
            .inner {
                .menu {
                    background: url("../images/menu_close.png") no-repeat;

                    @include max {
                        background-size: 30px 30px;
                    }
                }
            }
        }

        .btn {
            position: relative;
            z-index: -1;
        }

        .sec03 {
            ul {
                li {
                    z-index: -1;
                }
            }
        }
    }
}

html,
body {
    background-color: #000;
    color: $color01;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes maku {
    100% {
        right: 0;
    }
}

@keyframes fade_sns {
    100% {
        opacity: 1;
    }
}

@keyframes fluffy1 {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-15px);
    }

    25% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes fuwafuwa {
    0% {
        -webkit-transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, -10px);
    }

    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-moz-keyframes fuwafuwa {
    0% {
        -moz-transform: translate(0, 0);
    }

    50% {
        -moz-transform: translate(0, -10px);
    }

    100% {
        -moz-transform: translate(0, 0);
    }
}

.red {
    color: $color02;
}

img {
    -webkit-backface-visibility: hidden;
}

* {
    box-sizing: border-box;
}

a,
.contact_btn input {
    transition: all 0.3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    color: $color01;
    text-decoration: none;

    &:hover {
        color: $color01;
        opacity: 0.5;
    }
}

input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

textarea,
input {
    outline-color: $color03;
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #cfcfcf;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    color: #cfcfcf;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
    color: #cfcfcf;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: $font01;

    @include min {
        font-size: 16px;
        line-height: 1.8;
        min-width: 100%;
    }

    @include max {
        font-size: 1.6rem;
        line-height: 170%;
        height: 100%;
        box-sizing: border-box;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -o-text-size-adjust: 100%;
        text-size-adjust: 100%;
        text-align: left;
        margin: 0;
    }
}

.pcOnly {
    @include max {
        display: none !important;
    }

    @include min {
        display: block !important;
    }
}

.spOnly {
    @include max {
        display: block !important;
    }

    @include min {
        display: none !important;
    }
}

.pink {
    color: $color02;
}

img {
    vertical-align: top;

    @include max {
        width: 100%;
        height: auto;
    }
}

ul {
    list-style-type: none
}

.none {
    display: none;
}


#sb-site,
.sb-site-container,
.sb-slidebar {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden
}

#sb-site,
.sb-site-container {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #fff
}

.sb-slidebar {
    text-align: left;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    /*top: 52px;*/
    top: 0;
    z-index: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transform: translate(0px)
}

.sb-left {
    left: 0
}

.sb-right {
    right: 0
}

.sb-slidebar.sb-static,
html.sb-static .sb-slidebar {
    position: absolute
}

.sb-slidebar.sb-active {
    display: block
}

.sb-style-overlay {
    z-index: 10000;
}

.sb-momentum-scrolling {
    -webkit-overflow-scrolling: touch
}

.sb-slidebar {
    width: 100%
}

.sb-width-thin {
    width: 15%
}

.sb-width-wide {
    width: 45%
}

#sb-site,
.sb-site-container,
.sb-slide,
.sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right;
    -webkit-backface-visibility: hidden
}

.sb-hide {
    display: none
}

.aha {
    header {
        opacity: 1;
    }
}

#container {
    height: 100%;
    width: 100%;
}

#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 1;
}

#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 285px;
    height: 298px;
    margin-top: -149px;
    margin-left: -140px;
    text-align: center;
    color: #fff;
    z-index: 2;
    -webkit-animation-name: fuwafuwa;
    /* fuwafuwaっていうアニメーションをしてね！ */
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    /*-webkit-animation-direction:alternate;*/
    -webkit-animation-timing-function: ease;

    -moz-animation-name: fuwafuwa;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    /*-moz-animation-direction:alternate;*/
    -moz-animation-timing-function: ease;

    @include max {
        width: 143px;
        height: 149px;
        margin-top: -71.5px;
        margin-left: -74.5px;
    }

    img {
        width: 285px;
        height: 298px;

        @include max {
            width: 143px;
            height: 149px
        }
    }
}

.btn {
    width: 80px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Chonburi', cursive;

    a {
        display: block;

        img {
            transition: .5s;
            transform: rotateZ(0deg);
            width: 44px;
            height: 44px;
        }

        span {
            display: block;
            padding-top: 5px;
        }

        &:hover {
            img {
                transform: rotateZ(360deg);
            }
        }
    }
}

.btn_submit {
    a {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        background: url("../images/arrows_btn.png") no-repeat 93% center $color02;
        height: 48px;
        line-height: 48px;
        box-shadow: 2px 2px 1px 0px #d6d5c5;
    }
}

h2 {
    text-align: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 100px;

    img {
        width: 100%;
        height: auto;
        backface-visibility: hidden;
    }

    @include max {
        width: 50px;
        height: 50px;
        margin: 0 auto 40px;
    }
}

.lead {
    margin: 50px 0;
    font-size: 20px;
    font-weight: bold;

    @include max {
        margin: 25px 0;
        font-size: spvw(30);
    }
}



#page-top {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    text-indent: -9999px;
    background: url(../images/pagetop.png) no-repeat;
    z-index: 4;

    #page-top a {
        display: block;
        text-decoration: none;
        height: 60px;
        width: 60px;
        margin: 0;
    }
}

.snsArea {
    display: flex;
    justify-content: space-between;
    width: 308px;
    margin: 0 auto;

    @include max {
        width: 72%;
    }

    li {
        width: 30px;

        img {
            width: 100%;
            height: auto;
        }

        &:nth-child(2) {
            margin-top: -6px;

            @include max {
                margin-top: -5px;
            }
        }

        &:nth-child(4) {
            margin-top: 2px;

            @include max {
                margin-top: 3px;
            }
        }

        &:nth-child(5) {
            margin-top: 2px;

            @include max {
                margin-top: 3px;
            }
        }

        @include max {
            width: 24px;
        }
    }
}

.sub {
    header {
        opacity: 1;
    }

    .sec04 {
        margin-top: -120px;
        padding-top: 0;

        @include max {
            margin-top: -71px;
        }
    }

    &.single {
        .sec04 {
            min-height: 650px;

            ul {
                li {
                    div {
                        iframe {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

header {
    transition: all 0.3s;
    height: 160px;
    width: 100% !important;
    opacity: 0;

    @include max {
        height: 90px;
    }

    .inner {
        height: 160px;
        width: 100%;
        position: relative;

        @include max {
            height: 90px;
        }

        .logo {
            transition: all 0.3s;
            position: fixed;
            left: 38px;
            top: 40px;
            z-index: 100001;

            @include max {
                width: 50px;
                left: 20px;
                top: 20px;
            }
        }

        .menu {
            transition: all 0.3s;
            z-index: 100001;
            cursor: pointer;
            position: fixed;
            right: 40px;
            top: 60px;
            width: 42px;
            height: 42px;
            background: url("../images/menu.png") no-repeat;

            @include max {
                right: 30px;
                top: 30px;
                width: 30px;
                height: 30px;
                background-size: 30px 30px;
            }
        }
    }
}

nav {
    z-index: 100;
    padding-top: 160px !important;

    @include max {
        padding-top: 90px !important;
    }

    ul.navi {
        position: relative;
        margin-bottom: 60px;

        @include min {}

        @include max {
            margin-bottom: 20px;
        }

        li {
            text-align: center;
            height: 140px;
            width: 100%;
            position: relative;
            right: -100%;

            @include max {
                height: 80px;
            }

            a {
                z-index: 3;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 3;
                display: table;
                width: 100%;
                overflow: hidden;
                height: 140px;

                @include max {
                    height: 80px;
                }

                span {
                    display: table-cell;
                    vertical-align: middle;

                    img {
                        z-index: 2;
                        width: 80px;
                        height: auto;
                        transition: transform 0.5s linear;
                        opacity: 1;

                        @include max {
                            width: 50px;
                        }
                    }
                }

                &:hover {
                    img {
                        transform: scale(8);
                        opacity: 0.3;
                    }

                    em {
                        opacity: 1;
                    }
                }
            }

            em {
                z-index: 1;
                transition: all 0.3s;
                width: 100%;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -17.5px;
                display: inline-block;
                height: 35px;
                opacity: 0;
            }

            &:nth-child(1) {
                background-color: #E82142;
                animation: maku 0.4s ease 0.5s 1 forwards;

                em {
                    background: url("../images/navi_text01.png") no-repeat center center;
                }
            }

            &:nth-child(2) {
                background-color: #D8E821;
                animation: maku 0.4s ease 0.7s 1 forwards;

                em {
                    background: url("../images/navi_text02.png") no-repeat center center;
                }
            }

            &:nth-child(3) {
                background-color: #FFFFFF;
                animation: maku 0.4s ease 0.9s 1 forwards;

                em {
                    background: url("../images/navi_text03.png") no-repeat center center;
                }
            }

            &:nth-child(4) {
                background-color: #2E292A;
                animation: maku 0.4s ease 1.1s 1 forwards;

                em {
                    background: url("../images/navi_text04.png") no-repeat center center;
                }
            }

            &:nth-child(5) {
                background-color: #3A85EB;
                animation: maku 0.4s ease 1.3s 1 forwards;

                em {
                    background: url("../images/navi_text05.png") no-repeat center center;
                }
            }
        }

        &.sb-slidebar {
            @include max {
                top: 52px;
                width: 50%;
                background-color: $color02;
                padding: 0 3%;
            }
        }
    }

    .snsArea {
        li {
            opacity: 0;

            &:nth-child(1) {
                animation: fade_sns 0.4s ease 0.5s 1 forwards;
            }

            &:nth-child(2) {
                animation: fade_sns 0.4s ease 0.7s 1 forwards;
            }

            &:nth-child(3) {
                animation: fade_sns 0.4s ease 0.9s 1 forwards;
            }

            &:nth-child(4) {
                animation: fade_sns 0.4s ease 1.1s 1 forwards;
            }

            &:nth-child(5) {
                animation: fade_sns 0.4s ease 1.3s 1 forwards;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body {
        @include min {
            min-width: 1280px !important;
        }
    }
}

.ver2019_02 {
    #container {
        .sec01 {
            @include min {
                background: url("../images/main_v_2019_02.jpg") no-repeat center bottom !important;
                background-size: cover !important;
            }

            @include max {
                background: url("../images/main_v_2019_02_sp.jpg") no-repeat 55% center !important;
                background-size: cover !important;
            }

            h1 {

                @include max {
                    left: 50%;
                    top: 20% !important;
                    width: 160px;
                    margin: 0 0 0 -80px;
                }

                @include min {
                    left: 4% !important;
                    top: 7% !important;
                    margin: 0 !important;

                    img {
                        width: 72% !important;
                        height: auto;
                    }
                }
            }
        }
    }
}

.ver2019,
.ver2019_02 {
    #container {
        section {
            .inner {
                @include min {
                    max-width: 1000px;
                    margin: 0 auto;
                }

                @include max {
                    padding: 0 5%;
                }
            }
        }

        .sec01 {
            @include min {
                background: url("../images/main_v_2019.jpg") no-repeat center center;
                background-size: cover;
            }

            @include max {
                background: url("../images/main_v_2019.jpg") no-repeat 55% center;
                background-size: cover;
            }

            h1 {

                @include max {
                    left: 50%;
                    top: 40px;
                    width: 160px;
                    margin: 0 0 0 -80px;
                }

                @include min {
                    left: 6%;
                    top: 7%;
                    margin: 0;

                    img {
                        width: 90%;
                        height: auto;
                    }
                }
            }
        }

        .sec05 {

            .pic {
                margin-bottom: 55px;

                @include max {
                    margin-bottom: 15px;
                }

                img {
                    @include min {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.sub_title {
    text-align: center;
    font-family: 'Chonburi', cursive;
    font-size: 25px;
    margin-bottom: 30px;
}

.link {
    text-align: right;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

section {
    .inner {
        @include min {
            max-width: 1000px;
            margin: 0 auto;
        }

        @include max {
            padding: 0 5%;
        }
    }
}

.sec02,
.sec03,
.sec04,
.sec05,
.sec06,
.sec07 {
    padding: 70px 0;

    @include max {
        padding: 60px 0;
    }
}

.sec01 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.3s;

    @include min {
        background: url("../images/main_v.png") no-repeat right center;
        background-size: cover;
    }

    @include max {
        background: url("../images/sp/main_v.jpg") no-repeat;
        background-size: cover;
    }

    h1 {
        transition: all 0.3s;
        position: absolute;

        @include max {
            left: 50%;
            top: 40px;
            width: 160px;
            margin: 0 0 0 -80px;
        }

        @include min {
            left: 17%;
            top: 50%;
            margin: -170px 0 0 0;
        }
    }

    .arrows {
        text-align: center;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -28px;
        z-index: 22;
        animation: fluffy1 4s ease infinite;

        @include max {
            width: 23px;
            height: auto;
            margin-left: -11.5px;
        }
    }
}


.sec02 {
    .movie {
        margin-bottom: 40px;

        ul {
            li {
                position: relative;
                padding-top: 56.25%;
                margin-bottom: 25px;
            }
        }

        @include min {
            width: 1000px;
            margin: 0 auto 60px;
        }

        @include max {
            width: 100%;
        }

        iframe {
            border: 1px solid #181818;
            position: absolute;
            top: 0;
            right: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

    .btn_more {
        text-align: right;

        a {
            position: relative;
            display: inline-block;
            padding-bottom: 5px;

            &:after {
                content: "";
                position: absolute;
                left: -3px;
                bottom: 0;
                background-color: $color02;
                height: 4px;
                width: 120%;
            }
        }
    }
}

.sec03 {
    ul {
        @include min {
            overflow: hidden;
            margin-right: -41px;
        }
        
        li {
            width: 100%;
            transition: all 0.3s;

            @include min {
                float: left;
                max-width: 306px;
                height: 306px;
                /*display: table;*/
                margin-bottom: 40px;
                position: relative;
                overflow: hidden;
                z-index: 0;
                margin-right: 41px;

                &:hover figcaption {
                    opacity: 1;
                }

                &:hover figcaption h3,
                &:hover figcaption p {
                    left: 20px;
                }

                &:hover figcaption h3 {
                    -webkit-transition-delay: .2s;
                    transition-delay: .2s;
                }

                &:hover figcaption p {
                    -webkit-transition-delay: .3s;
                    transition-delay: .3s;
                }

                figcaption {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .6);
                    -webkit-transition: .2s;
                    transition: .2s;
                    opacity: 0;

                    h3,
                    p {
                        position: absolute;
                        left: -100%;
                        width: 260px;
                        -webkit-transition: .2s;
                        transition: .2s;
                    }

                    h3 {
                        top: 30px;
                    }

                    p {
                        top: 75px;
                    }
                }
            }

            @include max {
                margin-bottom: 40px;

                figcaption {
                    display: none;
                }
            }

            a {
                display: block;
                opacity: 1;

                @include min {
                    cursor: pointer;
                    max-width: 100%;
                    height: 306px;
                    display: table;
                    color: #fff;
                }
            }

            span {
                @include min {
                    display: table-cell;
                    vertical-align: middle;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        /*&::after {
                    content: "";
                    display: block;
                    width: 316px;
                }*/
    }
}


.sec04 {
    ul {
        li {
            padding: 80px 0 100px;
            border-bottom: 1px solid #333333;

            .live_detail_inner {
                width: 100%;

                @include min {
                    display: flex;
                    justify-content: space-between;
                }

                @include max {
                    padding: 0;
                }
            }

            @include max {
                padding: 40px 0;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
            }

            a {
                display: block;

                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }

            .pic,
            div {
                @include min {
                    width: 480px;
                }
            }

            .pic {
                overflow: hidden;

                img {
                    transition: transform 0.5s linear;
                    width: 100%;
                    height: auto;
                }

                @include max {
                    margin-bottom: 15px;
                }
            }

            div {
                a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .status {
                    background-color: #fff;
                    color: #000;
                    padding: 0 10px;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .ttl {
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 15px;

                    @include max {
                        font-size: spvw(32);
                    }
                }

                .venue {
                    margin-bottom: 15px;
                }

                .url {
                    margin-top: 15px;
                }

                .artist {
                    margin-bottom: 15px;
                }

                .schedule {
                    img {
                        @include min {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .btn {
        margin-top: 60px;
    }
}

.sec05 {
    @include min {
        text-align: center;
    }

    @include max {
        font-size: spvw(28);
        line-height: 1.5;
    }

    .pic {
        margin-bottom: 55px;

        @include max {
            margin-bottom: 15px;
        }
    }
}

.sec06 {
    ul {
        li {
            margin-bottom: 40px;

            @include min {
                display: flex;
                justify-content: space-between;
            }

            @include max {
                margin-bottom: 30px;
            }

            .pic,
            div {
                @include min {
                    width: 480px;
                }
            }

            div {
                .ttl {
                    font-size: 18px;
                    font-weight: bold;
                }

                .info {
                    font-size: 14px;
                    margin-bottom: 30px;
                }

                .tl {
                    span {
                        font-size: 14px;
                    }
                }
            }

            .pic {
                @include max {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.sec07 {
    padding-bottom: 140px;

    .inner {
        span {
            color: #e82142;
        }

        table {
            width: 100%;
            margin-bottom: 40px;

            th,
            td {
                @include min {
                    padding: 40px 0;
                    border-bottom: 1px solid #333333;
                }

                @include max {
                    display: block;
                }
            }

            th {
                padding-left: 30px;
                width: 196px;

                @include max {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 15px;
                    padding-bottom: 5px;
                }
            }

            td {
                padding-right: 30px;
                width: 804px;

                @include max {
                    width: 100%;
                    padding-right: 0;
                }
            }

            input {
                border: 1px solid #666666;
                height: 40px;
                line-height: 40px;
                padding: 0 5px;
                width: 100%;
                background-color: transparent;
            }

            textarea {
                background-color: transparent;
                border: 1px solid #666666;
                width: 100%;
                height: 200px;
                color: #fff;
                padding: 5px;
            }
        }

        .contact_btn {
            input {
                width: 280px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                color: #000;
                background-color: #fff;
                border: none;
                font-size: 18px;
                letter-spacing: 3px;
                margin: 0 auto;
                display: block;
                cursor: pointer;
                border-radius: 0;
                -webkit-appearance: none;
            }
        }

        .text_btm {
            font-size: 34px;
            font-weight: bold;

            @include max {
                font-size: spvw(30);
            }
        }
    }
}


footer {
    text-align: center;
    padding: 0 0 60px;
    font-size: 12px;

    .snsArea {
        margin-bottom: 60px;
    }

    @include max {
        padding: spvw(38) spvw(25);
    }
}