 /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

media PC

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

 @include min {
   #sub {
     #main {
       &.article_detaile,
       &.template {
         #contents {
           h2 {
             background: url(../images/title_line.png) no-repeat left bottom;
             padding-bottom: 16px;
             line-height: 1.5;
             font-size: 24px;
             font-weight: bold;
             margin-bottom: 15px;
             margin-top: 60px;
           }
           h3 {
             font-size: 20px;
             font-weight: bold;
             border-bottom: 1px solid $color02;
             margin-bottom: 10px;
             margin-top: 40px;
           }
           h4 {
             font-size: 18px;
             font-weight: bold;
             background: url(../images/title_line02.png) no-repeat left bottom;
             padding-bottom: 5px;
             margin-bottom: 10px;
             margin-top: 40px;
           }
           p {
             margin-bottom: 1em;
           }
           /* ---------------------------------------------------------
   page.php（固定ページ）
--------------------------------------------------------- */
           .type-page p {
             margin: 40px 0;
           }
           /* === ■ 当大学について === */
           #first {
             ul {
               li {
                 display: inline;
               }
             }
             #cihgau ul {
               margin: 0;
               padding: 0;
               list-style-type: none;
               overflow: hidden;
               li {
                 padding: 160px 0 0 20px;
                 position: relative;
                 width: 330px;
                 float: left;
                 span {
                   &.img {
                     position: absolute;
                     left: 0;
                     top: 0;
                     z-index: -5;
                   }
                   &.num {
                     font-size: 60px;
                     font-weight: bold;
                     color: #A5B300;
                     display: inline-block;
                     border-bottom: 3px solid #A5B300;
                     line-height: 1.0;
                     margin: 0 0 10px;
                   }
                   &.txt {
                     display: block;
                     font-size: 22px;
                     font-weight: bold;
                   }
                 }
                 &.li01 span.txt {
                   padding: 0 0 0 20px;
                 }
               }
             }
             #study dl {
               margin: 0;
               dt {
                 font-size: 22px;
                 font-weight: bold;
                 display: table;
                 width: 100%;
                 margin: 0 0 20px;
                 span {
                   &.num,
                   &.ttl {
                     height: 60px;
                     vertical-align: middle;
                     line-height: 1.0;
                     display: table-cell;
                   }
                   &.num {
                     background: #A5B300;
                     width: 60px;
                     color: #FFFFFF;
                     text-align: center;
                   }
                   &.ttl {
                     padding: 0 0 0 24px;
                   }
                 }
               }
               dd {
                 margin: 0 0 50px 84px;
                 &.dl01 {
                   background: url(/images/first_study_img.jpg) right top no-repeat;
                   padding: 0 180px 0 0;
                 }
                 &.dl02 ul,
                 &.dl03 ul {
                   list-style-image: url(/images/first_arrow.gif);
                   margin: 0;
                   padding: 0 0 0 20px;
                   li {
                     display: list-item;
                   }
                 }
               }
               a {
                 text-decoration: none;
                 color: #333333;
               }
             }
           }

           #interview #daihyou,
           #first #kousi #daihyou {
             padding: 40px;
             background: #DBE199;
             margin: 60px 0;
           }

           #interview #daihyou {
             margin: 60px 0 40px;
             p {
               margin: 0 0 1em 160px;
             }
           }

           #first #kousi #daihyou p {
             margin: 0 0 1em 160px;
           }

           #interview #daihyou p.photo,
           #first #kousi #daihyou p.photo {
             float: left;
             margin: 0;
           }

           #interview #daihyou p.ttl,
           #first #kousi #daihyou p.ttl {
             font-size: 16px;
             font-weight: bold;
           }

           #interview #daihyou p.ttl span,
           #first #kousi #daihyou p.ttl span {
             font-size: 20px;
           }

           #interview #daihyou p.txt,
           #first #kousi #daihyou p.txt {
             font-size: 14px;
           }

           #interview #daihyou p.btn {
             margin: 0 0 0 160px;
           }

           #first {
             #kousi #daihyou p.btn {
               margin: 0 0 0 160px;
             }
             #jisseki {
               p {
                 margin: 0 0 10px;
               }
               ul {
                 list-style-type: none;
                 margin: 0;
                 padding: 0;
                 overflow: hidden;
                 li {
                   float: left;
                   width: 220px;
                   margin: 0;
                   span {
                     display: block;
                     padding: 20px 20px 40px;
                     font-size: 14px;
                   }
                 }
               }
             }
             #voice {
               ul {
                 list-style-type: none;
                 margin: 0;
                 padding: 0;
                 overflow: hidden;
                 li {
                   float: left;
                   width: 330px;
                   margin: 0 0 40px;
                   span {
                     display: block;
                     font-size: 14px;
                     padding: 20px 20px 0;
                     &.name {
                       font-weight: bold;
                     }
                   }
                 }
               }
               p.btn {
                 text-align: center;
                 margin: 0 0 60px;
               }
             }
             #bnBox {
               margin: 0 0 60px;
               ul {
                 list-style-type: none;
                 margin: 0;
                 padding: 0;
                 /* overflow: hidden; */
               }
               li {
                 float: left;
                 margin: 0 0 0 20px;
                 &:first-child {
                   margin: 0;
                 }
               }
             }
           }
         }
       }
       &.template {
         #contents {
           ul {
             list-style-type: disc !important;
             padding-left: 2em;
             margin-bottom: 1em;
             li {
               display: list-item;
             }
           }

           /* === ■お問い合わせ === */
           #otoiawase h1,
           #mendan h1,
           #muryopdf h1 {
             background: #FC9000;
           }
           #otoiawase h2,
           #mendan h2,
           #muryopdf h2 {
             border-color: #FC9000;
           }
           #contact-formBox table {
             font-size: 16px;
             width: 585px;
             margin: 0 auto 20px;
           }
           #contact-formBox table th {
             font-weight: bold;
             text-align: right;
             padding: 20px 20px 20px 0;
             width: 180px;
           }
           #contact-formBox table td {
             padding: 20px 00;
           }
           #contact-formBox input[type="text"],
           #contact-formBox input[type="email"] {
             height: 40px;
             width: 100%;
             padding: 0 10px;
             background-color: #fff;
             border: 1px solid #c0cbd2;
           }
           #contact-formBox textarea {
             width: 100%;
             height: 200px;
             border: 1px solid #c0cbd2;
           }
           #contact-formBox .hissu {
             font-size: 14px;
             font-weight: normal;
             border-radius: 3px;
             background: #EA4948;
             color: #FFFFFF;
             display: inline-block;
             margin: 0 0 0 10px;
             padding: 0 5px;
           }
           #contact-formBox .v-top {
             vertical-align: top;
           }
           #contact-formBox input[type="text"].w-small,
           #contact-formBox input[type="email"].w-small {
             width: 70%;
           }
           #contact-formBox .scBox {
             width: 580px;
             height: 200px;
             border: 1px solid #C0CBD2;
             overflow-y: scroll;
             padding: 0 15px;
             box-sizing: border-box;
             font-size: 14px;
             margin: 0 auto 40px;
           }
           #contact-formBox .scBox .ttl {
             font-size: 18px;
             font-weight: bold;
           }
           #contact-formBox p.btn {
             text-align: center;
             margin: 60px auto;
           }
         }
       }
     }
   }
 }
 /* ==========================================================================

TABLET

========================================================================== */

 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}
 /* ==========================================================================

SP

========================================================================== */

 @include max {

   #sub {
     #main {
       &.article_detaile,
       &.template {
         #contents {
           h2 {
             background: url(../images/title_line.png) no-repeat left bottom;
             padding-bottom: 10px;
             line-height: 1.5;
             font-size: 2.0rem;
             font-weight: bold;
             margin-bottom: 30px;
             margin-top: 60px;
           }
           h3 {
             font-size: 1.8rem;
             font-weight: bold;
             border-bottom: 1px solid $color02;
             margin-bottom: 20px;
             margin-top: 40px;
           }
           h4 {
             font-size: 1.6rem;
             font-weight: bold;
             background: url(../images/title_line02.png) no-repeat left bottom;
             padding-bottom: 5px;
             margin-bottom: 10px;
             margin-top: 40px;
           }
           p {
             margin-bottom: 1em;
           }
         }
       }
       &.template {
         #contents {
           ul {
             list-style-type: disc !important;
             padding-left: 2em;
             margin-bottom: 1em;
             li {
               display: list-item;
             }
           }

           /* === ■お問い合わせ === */
           #otoiawase h1,
           #mendan h1,
           #muryopdf h1 {
             background: #FC9000;
           }
           #otoiawase h2,
           #mendan h2,
           #muryopdf h2 {
             border-color: #FC9000;
           }
           #contact-formBox table {
             font-size: 16px;
             margin: 0 0 20px;
             width: 100%;
           }
           #contact-formBox table th {
             text-align: left;
             padding: 0 0 5px 0;
             width: 100%;
             display: block;
             font-weight: bold;
           }
           #contact-formBox table td {
             padding: 0 0 20px 0;
             display: block;
           }
           #contact-formBox input[type="text"],
           #contact-formBox input[type="email"] {
             height: 40px;
             width: 100%;
             padding: 0 10px;
             background-color: #fff;
             border: 1px solid #c0cbd2;
           }
           #contact-formBox textarea {
             width: 100%;
             height: 200px;
             border: 1px solid #c0cbd2;
           }
           #contact-formBox .hissu {
             font-size: 14px;
             font-weight: normal;
             border-radius: 3px;
             background: #EA4948;
             color: #FFFFFF;
             display: inline-block;
             margin: 0 0 0 10px;
             padding: 0 5px;
           }
           #contact-formBox .v-top {
             vertical-align: top;
           }
           #contact-formBox input[type="text"].w-small,
           #contact-formBox input[type="email"].w-small {
             width: 70%;
           }
           #contact-formBox .scBox {
             width: 90%;
             height: 100px;
             padding: 0 10px;
             border: 1px solid #C0CBD2;
             overflow-y: scroll;
             box-sizing: border-box;
             font-size: 14px;
             margin: 0 auto 40px;
           }
           #contact-formBox .scBox .ttl {
             font-size: 18px;
             font-weight: bold;
           }
           #contact-formBox p.btn {
             text-align: center;
             margin: 60px auto;
           }
           #otoiawase ul {
             font-weight: bold;
             list-style-type: disc;
             margin: 40px 0;
           }
           #muryopdf span.bld {
             font-size: 16px;
           }
           #mendan table#nittei {
             border: 1px solid #FED399;
             font-size: 20px;
             width: 100%;
             margin: 50px 0 10px;
           }
           #mendan table#nittei th {
             background: #FED399;
             border-top: 1px solid #FFFFFF;
             text-align: left;
             padding: 15px;
           }
           #mendan table#nittei tr:first-child th {
             border-top: 1px solid #FED399;
           }
           #mendan table#nittei td {
             border: 1px solid #FED399;
             padding: 15px;
           }
           #mendan #contact-formBox p.bld {
             font-size: 16px;
             margin: 0 0 40px;
           }
         }
       }
     }
   }
 }