//font
$font-family: arial, helvetica, sans-serif;
$font-family-min: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$font-family-lato: 'Lato', sans-serif;
//path
$img_path: "../images/";

//color
$color_base_text : #000;
$color_base_bg   : #ffffff;
$color_accent    : #ffd2d2;
$color_ci        : #e00065;
$color_ci_light  : #fff4f7;
$color_lighten   : #fefbd8;
$color_box       : #fdf1e5;
$color_box_active: #fbe1c8;
$color_ashgray   : #f4f4f4;
$color_devide    : #cccccc;
$color_textlink  : #000000;

//content width
$pc_width  : 1100px;
$tab_width : calc( 100% - 40px );
$sp_width  : calc( 100% - 20px );

//header height
$pc_header_height: 100px;
$sp_header_height: 50px;

//padding

//content width
$content_width: 986px;

//break points
$bp_pc: 769px;
$bp_tab: 986px;
$bp_sp: 768px;

//z-index
$z-header: 10;
