@import url("https://fonts.googleapis.com/css?family=Chonburi");

/* Slider */

/* Icons */

@font-face {
	font-family: "slick";
	src: url("./fonts/slick.eot");
	src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 29px;
	width: 16px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 26.104477611%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
	z-index: 2;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
}

.slick-prev {
	left: 10px;
	background: url(../images/sp/arrow_slider_prev.png) no-repeat center center;
	background-size: 16px 29px;
}

[dir="rtl"] .slick-prev {
	left: auto;
	right: 0;
}

.slick-next {
	right: 10px;
	background: url(../images/sp/arrow_slider_next.png) no-repeat center center;
	background-size: 16px 29px;
}

[dir="rtl"] .slick-next {
	left: 0;
	right: auto;
}

/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 56px;
}

.slick-dots {
	position: absolute;
	bottom: -30px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 10px;
	width: 10px;
	outline: none;
	line-height: 0px;
	font-size: 0px;
	color: transparent;
	padding: 10px;
	cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 10px;
	height: 10px;
	font-family: "slick";
	font-size: 25px;
	line-height: 10px;
	text-align: center;
	color: #D4D0C3; /*opacity: $slick-opacity-not-active;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	color: #88B50E;
	opacity: 0.75;
}

/* Slider */

.slick-slider {
	z-index: 99;
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	outline: none;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

@font-face {
	font-family: 'Noto Serif Japanese'; /* font-family名を指定 */
	font-style: normal;
	font-weight: 400; /* CSS記述時の対応ウェイトを指定 */
	src: url("../fonts/NotoSerifJP-Regular.woff") format("woff"), url("../fonts/NotoSerifJP-Regular.otf") format("opentype"); /* フォントファイル読み込み */
	font-display: swap; /* 読み込みが終わるまでデバイスフォントで表示（対応ブラウザはまだ少ない記述のようです） */
}

@font-face {
	font-family: 'Noto Serif Japanese';
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/NotoSerifJP-SemiBold.woff") format("woff"), url("../fonts/NotoSerifJP-SemiBold.otf") format("opentype");
	font-display: swap;
}

html {
	width: 100%;
	color: #000;
	overflow-x: hidden;
	font-size: 10px;
	background: #FFF;
}

body {
	font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
	font-size: 1.6rem;
	line-height: 1.8;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	min-width: 1200px;
}

body.android {
	font-family: 'Noto Serif Japanese', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS P明朝", "MS PMincho", serif;
}

.serif {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "游明朝体", "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, serif;
}

body > noscript > img,
body > iframe {
	display: none;
}

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
	word-break: break-word;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: normal;
}

em {
	font-style: italic;
}

ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	-webkit-font-feature-settings: normal;
	font-feature-settings: normal;
	font-variant: normal;
}

/* to preserve line-height and selector appearance */

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

/*because legend doesn't inherit in IE */

legend {
	color: #000;
}

/* YUI CSS Detection Stamp */

#yui3-css-stamp.cssreset {
	display: none;
}

img {
	vertical-align: bottom;
	height: auto;
}

/* clearfix */

.clearfix {
	min-height: 1px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

a,
.btn {
	background-color: transparent; /* Remove the gray background on active links in IE 10 */
	-webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
	text-decoration: none;
	color: #000;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.content-block a:hover,
header a:hover,
footer a:hover,
.btn a:active,
.btn a:hover,
.btn:active,
.btn:hover {
	outline-width: 0;
	opacity: .6;
}

#fb-root {
	display: none;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

html.sb-active header .inner .menu {
	background: url("../images/menu_close.png") no-repeat;
}

html.sb-active .btn {
	position: relative;
	z-index: -1;
}

html.sb-active .sec03 ul li {
	z-index: -1;
}

html,
body {
	background-color: #000;
	color: #ffffff;
}

body {
	animation: fadeIn 2s ease 0s 1 normal;
	-webkit-animation: fadeIn 2s ease 0s 1 normal;
}

.red {
	color: #FFF100;
}

img {
	-webkit-backface-visibility: hidden;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a,
.contact_btn input {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	color: #ffffff;
	text-decoration: none;
}

a:hover,
.contact_btn input:hover {
	color: #ffffff;
	opacity: 0.5;
}

input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
}

textarea {
	-webkit-appearance: none;
}

textarea,
input {
	outline-color: #ff1371;
	font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #cfcfcf;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
	color: #cfcfcf;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
	color: #cfcfcf;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "ゴシックMB101 R", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

.pink {
	color: #FFF100;
}

img {
	vertical-align: top;
}

ul {
	list-style-type: none;
}

.none {
	display: none;
}

#sb-site,
.sb-site-container,
.sb-slidebar {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden;
}

#sb-site,
.sb-site-container {
	width: 100%;
	position: relative;
	z-index: 1;
	background-color: #fff;
}

.sb-slidebar {
	text-align: left;
	height: 100%;
	overflow-y: auto;
	position: fixed; /*top: 52px;*/
	top: 0;
	z-index: 0;
	display: none;
	background-color: rgba(0, 0, 0, .9);
	-webkit-transform: translate(0px);
}

.sb-left {
	left: 0;
}

.sb-right {
	right: 0;
}

.sb-slidebar.sb-static,
html.sb-static .sb-slidebar {
	position: absolute;
}

.sb-slidebar.sb-active {
	display: block;
}

.sb-style-overlay {
	z-index: 10000;
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch;
}

.sb-slidebar {
	width: 100%;
}

.sb-width-thin {
	width: 15%;
}

.sb-width-wide {
	width: 45%;
}

#sb-site,
.sb-site-container,
.sb-slide,
.sb-slidebar {
	-webkit-transition: -webkit-transform 400ms ease;
	transition: -webkit-transform 400ms ease;
	transition: transform 400ms ease;
	transition: transform 400ms ease, -webkit-transform 400ms ease;
	-webkit-transition-property: -webkit-transform, left, right;
	-webkit-backface-visibility: hidden;
}

.sb-hide {
	display: none;
}

.aha header {
	opacity: 1;
}

#container {
	height: 100%;
	width: 100%;
}

#loader-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #000;
	z-index: 1;
}

#loader {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 285px;
	height: 298px;
	margin-top: -149px;
	margin-left: -140px;
	text-align: center;
	color: #fff;
	z-index: 2;
	-webkit-animation-name: fuwafuwa; /* fuwafuwaっていうアニメーションをしてね！ */
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite; /*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fuwafuwa;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite; /*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function: ease;
}

#loader img {
	width: 285px;
	height: 298px;
}

.btn {
	width: 80px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Chonburi', cursive;
}

.btn a {
	display: block;
}

.btn a img {
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	width: 44px;
	height: 44px;
}

.btn a span {
	display: block;
	padding-top: 5px;
}

.btn a:hover img {
	-webkit-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}

.btn_submit a {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background: url("../images/arrows_btn.png") no-repeat 93% center #FFF100;
	height: 48px;
	line-height: 48px;
	-webkit-box-shadow: 2px 2px 1px 0px #d6d5c5;
	box-shadow: 2px 2px 1px 0px #d6d5c5;
}

h2 {
	text-align: center;
	width: 80px;
	height: 80px;
	margin: 0 auto 100px;
}

h2 img {
	width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.lead {
	margin: 50px 0;
	font-size: 20px;
	font-weight: bold;
}

#page-top {
	height: 60px;
	width: 60px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: pointer;
	text-indent: -9999px;
	background: url(../images/pagetop.png) no-repeat;
	z-index: 4;
}

#page-top #page-top a {
	display: block;
	text-decoration: none;
	height: 60px;
	width: 60px;
	margin: 0;
}

.snsArea {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 308px;
	margin: 0 auto;
}

.snsArea li {
	width: 30px;
}

.snsArea li img {
	width: 100%;
	height: auto;
}

.snsArea li:nth-child(2) {
	margin-top: -6px;
}

.snsArea li:nth-child(4) {
	margin-top: 2px;
}

.snsArea li:nth-child(5) {
	margin-top: 2px;
}

.sub header {
	opacity: 1;
}

.sub .sec04 {
	margin-top: -120px;
	padding-top: 0;
}

.sub.single .sec04 {
	min-height: 650px;
}

.sub.single .sec04 ul li div iframe {
	width: 100%;
}

header {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	height: 160px;
	width: 100% !important;
	opacity: 0;
}

header .inner {
	height: 160px;
	width: 100%;
	position: relative;
}

header .inner .logo {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	position: fixed;
	left: 38px;
	top: 40px;
	z-index: 100001;
}

header .inner .menu {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 100001;
	cursor: pointer;
	position: fixed;
	right: 40px;
	top: 60px;
	width: 42px;
	height: 42px;
	background: url("../images/menu.png") no-repeat;
}

nav {
	z-index: 100;
	padding-top: 160px !important;
}

nav ul.navi {
	position: relative;
	margin-bottom: 60px;
}

nav ul.navi li {
	text-align: center;
	height: 140px;
	width: 100%;
	position: relative;
	right: -100%;
}

nav ul.navi li a {
	z-index: 3;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	display: table;
	width: 100%;
	overflow: hidden;
	height: 140px;
}

nav ul.navi li a span {
	display: table-cell;
	vertical-align: middle;
}

nav ul.navi li a span img {
	z-index: 2;
	width: 80px;
	height: auto;
	-webkit-transition: -webkit-transform 0.5s linear;
	transition: -webkit-transform 0.5s linear;
	transition: transform 0.5s linear;
	transition: transform 0.5s linear, -webkit-transform 0.5s linear;
	opacity: 1;
}

nav ul.navi li a:hover img {
	-webkit-transform: scale(8);
	transform: scale(8);
	opacity: 0.3;
}

nav ul.navi li a:hover em {
	opacity: 1;
}

nav ul.navi li em {
	z-index: 1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -17.5px;
	display: inline-block;
	height: 35px;
	opacity: 0;
}

nav ul.navi li:nth-child(1) {
	background-color: #E82142;
	-webkit-animation: maku 0.4s ease 0.5s 1 forwards;
	animation: maku 0.4s ease 0.5s 1 forwards;
}

nav ul.navi li:nth-child(1) em {
	background: url("../images/navi_text01.png") no-repeat center center;
}

nav ul.navi li:nth-child(2) {
	background-color: #D8E821;
	-webkit-animation: maku 0.4s ease 0.7s 1 forwards;
	animation: maku 0.4s ease 0.7s 1 forwards;
}

nav ul.navi li:nth-child(2) em {
	background: url("../images/navi_text02.png") no-repeat center center;
}

nav ul.navi li:nth-child(3) {
	background-color: #FFFFFF;
	-webkit-animation: maku 0.4s ease 0.9s 1 forwards;
	animation: maku 0.4s ease 0.9s 1 forwards;
}

nav ul.navi li:nth-child(3) em {
	background: url("../images/navi_text03.png") no-repeat center center;
}

nav ul.navi li:nth-child(4) {
	background-color: #2E292A;
	-webkit-animation: maku 0.4s ease 1.1s 1 forwards;
	animation: maku 0.4s ease 1.1s 1 forwards;
}

nav ul.navi li:nth-child(4) em {
	background: url("../images/navi_text04.png") no-repeat center center;
}

nav ul.navi li:nth-child(5) {
	background-color: #3A85EB;
	-webkit-animation: maku 0.4s ease 1.3s 1 forwards;
	animation: maku 0.4s ease 1.3s 1 forwards;
}

nav ul.navi li:nth-child(5) em {
	background: url("../images/navi_text05.png") no-repeat center center;
}

nav .snsArea li {
	opacity: 0;
}

nav .snsArea li:nth-child(1) {
	-webkit-animation: fade_sns 0.4s ease 0.5s 1 forwards;
	animation: fade_sns 0.4s ease 0.5s 1 forwards;
}

nav .snsArea li:nth-child(2) {
	-webkit-animation: fade_sns 0.4s ease 0.7s 1 forwards;
	animation: fade_sns 0.4s ease 0.7s 1 forwards;
}

nav .snsArea li:nth-child(3) {
	-webkit-animation: fade_sns 0.4s ease 0.9s 1 forwards;
	animation: fade_sns 0.4s ease 0.9s 1 forwards;
}

nav .snsArea li:nth-child(4) {
	-webkit-animation: fade_sns 0.4s ease 1.1s 1 forwards;
	animation: fade_sns 0.4s ease 1.1s 1 forwards;
}

nav .snsArea li:nth-child(5) {
	-webkit-animation: fade_sns 0.4s ease 1.3s 1 forwards;
	animation: fade_sns 0.4s ease 1.3s 1 forwards;
}

.ver2019 #container .sec05 .pic,
.ver2019_02 #container .sec05 .pic {
	margin-bottom: 55px;
}

.sub_title {
	text-align: center;
	font-family: 'Chonburi', cursive;
	font-size: 25px;
	margin-bottom: 30px;
}

.link {
	text-align: right;
}

.link a {
	text-decoration: underline;
}

.link a:hover {
	text-decoration: none;
}

.sec02,
.sec03,
.sec04,
.sec05,
.sec06,
.sec07 {
	padding: 70px 0;
}

.sec01 {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.sec01 h1 {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
}

.sec01 .arrows {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -28px;
	z-index: 22;
	-webkit-animation: fluffy1 4s ease infinite;
	animation: fluffy1 4s ease infinite;
}

.sec02 .movie {
	margin-bottom: 40px;
}

.sec02 .movie ul li {
	position: relative;
	padding-top: 56.25%;
	margin-bottom: 25px;
}

.sec02 .movie iframe {
	border: 1px solid #181818;
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

.sec02 .btn_more {
	text-align: right;
}

.sec02 .btn_more a {
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
}

.sec02 .btn_more a:after {
	content: "";
	position: absolute;
	left: -3px;
	bottom: 0;
	background-color: #FFF100;
	height: 4px;
	width: 120%;
}

.sec03 ul { /*&::after {
                    content: "";
                    display: block;
                    width: 316px;
                }*/
}

.sec03 ul li {
	width: 100%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.sec03 ul li a {
	display: block;
	opacity: 1;
}

.sec03 ul li span img {
	width: 100%;
	height: auto;
}

.sec04 ul li {
	padding: 80px 0 100px;
	border-bottom: 1px solid #333333;
}

.sec04 ul li .live_detail_inner {
	width: 100%;
}

.sec04 ul li:first-child {
	padding-top: 0;
}

.sec04 ul li:last-child {
	border-bottom: none;
}

.sec04 ul li a {
	display: block;
}

.sec04 ul li a:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.sec04 ul li .pic {
	overflow: hidden;
}

.sec04 ul li .pic img {
	-webkit-transition: -webkit-transform 0.5s linear;
	transition: -webkit-transform 0.5s linear;
	transition: transform 0.5s linear;
	transition: transform 0.5s linear, -webkit-transform 0.5s linear;
	width: 100%;
	height: auto;
}

.sec04 ul li div a {
	text-decoration: underline;
}

.sec04 ul li div a:hover {
	text-decoration: none;
}

.sec04 ul li div .status {
	background-color: #fff;
	color: #000;
	padding: 0 10px;
	display: inline-block;
	margin-bottom: 5px;
}

.sec04 ul li div .ttl {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;
}

.sec04 ul li div .venue {
	margin-bottom: 15px;
}

.sec04 ul li div .url {
	margin-top: 15px;
}

.sec04 ul li div .artist {
	margin-bottom: 15px;
}

.sec04 .btn {
	margin-top: 60px;
}

.sec05 .pic {
	margin-bottom: 55px;
}

.sec06 ul li {
	margin-bottom: 40px;
}

.sec06 ul li div .ttl {
	font-size: 18px;
	font-weight: bold;
}

.sec06 ul li div .info {
	font-size: 14px;
	margin-bottom: 30px;
}

.sec06 ul li div .tl span {
	font-size: 14px;
}

.sec07 {
	padding-bottom: 140px;
}

.sec07 .inner span {
	color: #e82142;
}

.sec07 .inner table {
	width: 100%;
	margin-bottom: 40px;
}

.sec07 .inner table th {
	padding-left: 30px;
	width: 196px;
}

.sec07 .inner table td {
	padding-right: 30px;
	width: 804px;
}

.sec07 .inner table input {
	border: 1px solid #666666;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	width: 100%;
	background-color: transparent;
}

.sec07 .inner table textarea {
	background-color: transparent;
	border: 1px solid #666666;
	width: 100%;
	height: 200px;
	color: #fff;
	padding: 5px;
}

.sec07 .inner .contact_btn input {
	width: 280px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #000;
	background-color: #fff;
	border: none;
	font-size: 18px;
	letter-spacing: 3px;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	border-radius: 0;
	-webkit-appearance: none;
}

.sec07 .inner .text_btm {
	font-size: 34px;
	font-weight: bold;
}

footer {
	text-align: center;
	padding: 0 0 60px;
	font-size: 12px;
}

footer .snsArea {
	margin-bottom: 60px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

media PC

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ==========================================================================

TABLET

========================================================================== */

/* ==========================================================================

SP

========================================================================== */

.fp-section.fp-completely .fade_up {
	-webkit-animation: fade-up 0.8s forwards;
	animation: fade-up 0.8s forwards;
}

.fade_up {
	opacity: 0;
	-webkit-transform: translate(0, -30px);
	transform: translate(0, -30px);
}

.delay1 {
	-webkit-animation-delay: 0.2s !important;
	animation-delay: 0.2s !important;
}

.delay2 {
	-webkit-animation-delay: 0.4s !important;
	animation-delay: 0.4s !important;
}

.delay3 {
	-webkit-animation-delay: 0.6s !important;
	animation-delay: 0.6s !important;
}

.delay4 {
	-webkit-animation-delay: 0.8s !important;
	animation-delay: 0.8s !important;
}

.delay5 {
	-webkit-animation-delay: 1s !important;
	animation-delay: 1s !important;
}

.delay6 {
	-webkit-animation-delay: 1.2s !important;
	animation-delay: 1.2s !important;
}

.delay7 {
	-webkit-animation-delay: 1.4s !important;
	animation-delay: 1.4s !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

body {
	min-width: 1280px;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

body {
	min-width: 1280px;
}

}

@media screen and (min-width: 767px) and (max-width: 1280px) {

body {
	min-width: 100%;
}

}

@media screen and (min-width: 768px) {

body {
	font-size: 16px;
	line-height: 1.8;
	min-width: 100%;
}

.pcOnly {
	display: block !important;
}

.spOnly {
	display: none !important;
}

.ver2019_02 #container .sec01 {
	background: url("../images/main_v_2019_02.jpg") no-repeat center bottom !important;
	background-size: cover !important;
}

.ver2019_02 #container .sec01 h1 {
	left: 4% !important;
	top: 7% !important;
	margin: 0 !important;
}

.ver2019_02 #container .sec01 h1 img {
	width: 72% !important;
	height: auto;
}

.ver2019 #container section .inner,
.ver2019_02 #container section .inner {
	max-width: 1000px;
	margin: 0 auto;
}

.ver2019 #container .sec01,
.ver2019_02 #container .sec01 {
	background: url("../images/main_v_2019.jpg") no-repeat center center;
	background-size: cover;
}

.ver2019 #container .sec01 h1,
.ver2019_02 #container .sec01 h1 {
	left: 6%;
	top: 7%;
	margin: 0;
}

.ver2019 #container .sec01 h1 img,
.ver2019_02 #container .sec01 h1 img {
	width: 90%;
	height: auto;
}

.ver2019 #container .sec05 .pic img,
.ver2019_02 #container .sec05 .pic img {
	width: 100%;
	height: auto;
}

section .inner {
	max-width: 1000px;
	margin: 0 auto;
}

.sec01 {
	background: url("../images/main_v.png") no-repeat right center;
	background-size: cover;
}

.sec01 h1 {
	left: 17%;
	top: 50%;
	margin: -170px 0 0 0;
}

.sec02 .movie {
	width: 1000px;
	margin: 0 auto 60px;
}

.sec03 ul {
	overflow: hidden;
	margin-right: -41px;
}

.sec03 ul li {
	float: left;
	max-width: 306px;
	height: 306px; /*display: table;*/
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin-right: 41px;
}

.sec03 ul li:hover figcaption {
	opacity: 1;
}

.sec03 ul li:hover figcaption h3,
.sec03 ul li:hover figcaption p {
	left: 20px;
}

.sec03 ul li:hover figcaption h3 {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.sec03 ul li:hover figcaption p {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.sec03 ul li figcaption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	-webkit-transition: .2s;
	transition: .2s;
	opacity: 0;
}

.sec03 ul li figcaption h3,
.sec03 ul li figcaption p {
	position: absolute;
	left: -100%;
	width: 260px;
	-webkit-transition: .2s;
	transition: .2s;
}

.sec03 ul li figcaption h3 {
	top: 30px;
}

.sec03 ul li figcaption p {
	top: 75px;
}

.sec03 ul li a {
	cursor: pointer;
	max-width: 100%;
	height: 306px;
	display: table;
	color: #fff;
}

.sec03 ul li span {
	display: table-cell;
	vertical-align: middle;
}

.sec04 ul li .live_detail_inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sec04 ul li .pic,
.sec04 ul li div {
	width: 480px;
}

.sec04 ul li div .schedule img {
	max-width: 100%;
	height: auto;
}

.sec05 {
	text-align: center;
}

.sec06 ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sec06 ul li .pic,
.sec06 ul li div {
	width: 480px;
}

.sec07 .inner table th,
.sec07 .inner table td {
	padding: 40px 0;
	border-bottom: 1px solid #333333;
}

#sub #main.article_detaile #contents,
#sub #main.template #contents { /* ---------------------------------------------------------
   page.php（固定ページ）
--------------------------------------------------------- */ /* === ■ 当大学について === */
}

#sub #main.article_detaile #contents h2,
#sub #main.template #contents h2 {
	background: url(../images/title_line.png) no-repeat left bottom;
	padding-bottom: 16px;
	line-height: 1.5;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 60px;
}

#sub #main.article_detaile #contents h3,
#sub #main.template #contents h3 {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #FFF100;
	margin-bottom: 10px;
	margin-top: 40px;
}

#sub #main.article_detaile #contents h4,
#sub #main.template #contents h4 {
	font-size: 18px;
	font-weight: bold;
	background: url(../images/title_line02.png) no-repeat left bottom;
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 40px;
}

#sub #main.article_detaile #contents p,
#sub #main.template #contents p {
	margin-bottom: 1em;
}

#sub #main.article_detaile #contents .type-page p,
#sub #main.template #contents .type-page p {
	margin: 40px 0;
}

#sub #main.article_detaile #contents #first ul li,
#sub #main.template #contents #first ul li {
	display: inline;
}

#sub #main.article_detaile #contents #first #cihgau ul,
#sub #main.template #contents #first #cihgau ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

#sub #main.article_detaile #contents #first #cihgau ul li,
#sub #main.template #contents #first #cihgau ul li {
	padding: 160px 0 0 20px;
	position: relative;
	width: 330px;
	float: left;
}

#sub #main.article_detaile #contents #first #cihgau ul li span.img,
#sub #main.template #contents #first #cihgau ul li span.img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -5;
}

#sub #main.article_detaile #contents #first #cihgau ul li span.num,
#sub #main.template #contents #first #cihgau ul li span.num {
	font-size: 60px;
	font-weight: bold;
	color: #A5B300;
	display: inline-block;
	border-bottom: 3px solid #A5B300;
	line-height: 1.0;
	margin: 0 0 10px;
}

#sub #main.article_detaile #contents #first #cihgau ul li span.txt,
#sub #main.template #contents #first #cihgau ul li span.txt {
	display: block;
	font-size: 22px;
	font-weight: bold;
}

#sub #main.article_detaile #contents #first #cihgau ul li.li01 span.txt,
#sub #main.template #contents #first #cihgau ul li.li01 span.txt {
	padding: 0 0 0 20px;
}

#sub #main.article_detaile #contents #first #study dl,
#sub #main.template #contents #first #study dl {
	margin: 0;
}

#sub #main.article_detaile #contents #first #study dl dt,
#sub #main.template #contents #first #study dl dt {
	font-size: 22px;
	font-weight: bold;
	display: table;
	width: 100%;
	margin: 0 0 20px;
}

#sub #main.article_detaile #contents #first #study dl dt span.num,
#sub #main.article_detaile #contents #first #study dl dt span.ttl,
#sub #main.template #contents #first #study dl dt span.num,
#sub #main.template #contents #first #study dl dt span.ttl {
	height: 60px;
	vertical-align: middle;
	line-height: 1.0;
	display: table-cell;
}

#sub #main.article_detaile #contents #first #study dl dt span.num,
#sub #main.template #contents #first #study dl dt span.num {
	background: #A5B300;
	width: 60px;
	color: #FFFFFF;
	text-align: center;
}

#sub #main.article_detaile #contents #first #study dl dt span.ttl,
#sub #main.template #contents #first #study dl dt span.ttl {
	padding: 0 0 0 24px;
}

#sub #main.article_detaile #contents #first #study dl dd,
#sub #main.template #contents #first #study dl dd {
	margin: 0 0 50px 84px;
}

#sub #main.article_detaile #contents #first #study dl dd.dl01,
#sub #main.template #contents #first #study dl dd.dl01 {
	background: url(/images/first_study_img.jpg) right top no-repeat;
	padding: 0 180px 0 0;
}

#sub #main.article_detaile #contents #first #study dl dd.dl02 ul,
#sub #main.article_detaile #contents #first #study dl dd.dl03 ul,
#sub #main.template #contents #first #study dl dd.dl02 ul,
#sub #main.template #contents #first #study dl dd.dl03 ul {
	list-style-image: url(/images/first_arrow.gif);
	margin: 0;
	padding: 0 0 0 20px;
}

#sub #main.article_detaile #contents #first #study dl dd.dl02 ul li,
#sub #main.article_detaile #contents #first #study dl dd.dl03 ul li,
#sub #main.template #contents #first #study dl dd.dl02 ul li,
#sub #main.template #contents #first #study dl dd.dl03 ul li {
	display: list-item;
}

#sub #main.article_detaile #contents #first #study dl a,
#sub #main.template #contents #first #study dl a {
	text-decoration: none;
	color: #333333;
}

#sub #main.article_detaile #contents #interview #daihyou,
#sub #main.article_detaile #contents #first #kousi #daihyou,
#sub #main.template #contents #interview #daihyou,
#sub #main.template #contents #first #kousi #daihyou {
	padding: 40px;
	background: #DBE199;
	margin: 60px 0;
}

#sub #main.article_detaile #contents #interview #daihyou,
#sub #main.template #contents #interview #daihyou {
	margin: 60px 0 40px;
}

#sub #main.article_detaile #contents #interview #daihyou p,
#sub #main.template #contents #interview #daihyou p {
	margin: 0 0 1em 160px;
}

#sub #main.article_detaile #contents #first #kousi #daihyou p,
#sub #main.template #contents #first #kousi #daihyou p {
	margin: 0 0 1em 160px;
}

#sub #main.article_detaile #contents #interview #daihyou p.photo,
#sub #main.article_detaile #contents #first #kousi #daihyou p.photo,
#sub #main.template #contents #interview #daihyou p.photo,
#sub #main.template #contents #first #kousi #daihyou p.photo {
	float: left;
	margin: 0;
}

#sub #main.article_detaile #contents #interview #daihyou p.ttl,
#sub #main.article_detaile #contents #first #kousi #daihyou p.ttl,
#sub #main.template #contents #interview #daihyou p.ttl,
#sub #main.template #contents #first #kousi #daihyou p.ttl {
	font-size: 16px;
	font-weight: bold;
}

#sub #main.article_detaile #contents #interview #daihyou p.ttl span,
#sub #main.article_detaile #contents #first #kousi #daihyou p.ttl span,
#sub #main.template #contents #interview #daihyou p.ttl span,
#sub #main.template #contents #first #kousi #daihyou p.ttl span {
	font-size: 20px;
}

#sub #main.article_detaile #contents #interview #daihyou p.txt,
#sub #main.article_detaile #contents #first #kousi #daihyou p.txt,
#sub #main.template #contents #interview #daihyou p.txt,
#sub #main.template #contents #first #kousi #daihyou p.txt {
	font-size: 14px;
}

#sub #main.article_detaile #contents #interview #daihyou p.btn,
#sub #main.template #contents #interview #daihyou p.btn {
	margin: 0 0 0 160px;
}

#sub #main.article_detaile #contents #first #kousi #daihyou p.btn,
#sub #main.template #contents #first #kousi #daihyou p.btn {
	margin: 0 0 0 160px;
}

#sub #main.article_detaile #contents #first #jisseki p,
#sub #main.template #contents #first #jisseki p {
	margin: 0 0 10px;
}

#sub #main.article_detaile #contents #first #jisseki ul,
#sub #main.template #contents #first #jisseki ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sub #main.article_detaile #contents #first #jisseki ul li,
#sub #main.template #contents #first #jisseki ul li {
	float: left;
	width: 220px;
	margin: 0;
}

#sub #main.article_detaile #contents #first #jisseki ul li span,
#sub #main.template #contents #first #jisseki ul li span {
	display: block;
	padding: 20px 20px 40px;
	font-size: 14px;
}

#sub #main.article_detaile #contents #first #voice ul,
#sub #main.template #contents #first #voice ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sub #main.article_detaile #contents #first #voice ul li,
#sub #main.template #contents #first #voice ul li {
	float: left;
	width: 330px;
	margin: 0 0 40px;
}

#sub #main.article_detaile #contents #first #voice ul li span,
#sub #main.template #contents #first #voice ul li span {
	display: block;
	font-size: 14px;
	padding: 20px 20px 0;
}

#sub #main.article_detaile #contents #first #voice ul li span.name,
#sub #main.template #contents #first #voice ul li span.name {
	font-weight: bold;
}

#sub #main.article_detaile #contents #first #voice p.btn,
#sub #main.template #contents #first #voice p.btn {
	text-align: center;
	margin: 0 0 60px;
}

#sub #main.article_detaile #contents #first #bnBox,
#sub #main.template #contents #first #bnBox {
	margin: 0 0 60px;
}

#sub #main.article_detaile #contents #first #bnBox ul,
#sub #main.template #contents #first #bnBox ul {
	list-style-type: none;
	margin: 0;
	padding: 0; /* overflow: hidden; */
}

#sub #main.article_detaile #contents #first #bnBox li,
#sub #main.template #contents #first #bnBox li {
	float: left;
	margin: 0 0 0 20px;
}

#sub #main.article_detaile #contents #first #bnBox li:first-child,
#sub #main.template #contents #first #bnBox li:first-child {
	margin: 0;
}

#sub #main.template #contents { /* === ■お問い合わせ === */
}

#sub #main.template #contents ul {
	list-style-type: disc !important;
	padding-left: 2em;
	margin-bottom: 1em;
}

#sub #main.template #contents ul li {
	display: list-item;
}

#sub #main.template #contents #otoiawase h1,
#sub #main.template #contents #mendan h1,
#sub #main.template #contents #muryopdf h1 {
	background: #FC9000;
}

#sub #main.template #contents #otoiawase h2,
#sub #main.template #contents #mendan h2,
#sub #main.template #contents #muryopdf h2 {
	border-color: #FC9000;
}

#sub #main.template #contents #contact-formBox table {
	font-size: 16px;
	width: 585px;
	margin: 0 auto 20px;
}

#sub #main.template #contents #contact-formBox table th {
	font-weight: bold;
	text-align: right;
	padding: 20px 20px 20px 0;
	width: 180px;
}

#sub #main.template #contents #contact-formBox table td {
	padding: 20px 00;
}

#sub #main.template #contents #contact-formBox input[type="text"],
#sub #main.template #contents #contact-formBox input[type="email"] {
	height: 40px;
	width: 100%;
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid #c0cbd2;
}

#sub #main.template #contents #contact-formBox textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #c0cbd2;
}

#sub #main.template #contents #contact-formBox .hissu {
	font-size: 14px;
	font-weight: normal;
	border-radius: 3px;
	background: #EA4948;
	color: #FFFFFF;
	display: inline-block;
	margin: 0 0 0 10px;
	padding: 0 5px;
}

#sub #main.template #contents #contact-formBox .v-top {
	vertical-align: top;
}

#sub #main.template #contents #contact-formBox input[type="text"].w-small,
#sub #main.template #contents #contact-formBox input[type="email"].w-small {
	width: 70%;
}

#sub #main.template #contents #contact-formBox .scBox {
	width: 580px;
	height: 200px;
	border: 1px solid #C0CBD2;
	overflow-y: scroll;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	margin: 0 auto 40px;
}

#sub #main.template #contents #contact-formBox .scBox .ttl {
	font-size: 18px;
	font-weight: bold;
}

#sub #main.template #contents #contact-formBox p.btn {
	text-align: center;
	margin: 60px auto;
}

.sp {
	display: none !important;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-width: 768px) {

body {
	min-width: 1280px !important;
}

}

@media screen and (max-width: 767px) {

body {
	min-width: 100%;
}

img {
	max-width: 100%;
}

html.sb-active header .inner .menu {
	background-size: 30px 30px;
}

body {
	font-size: 1.6rem;
	line-height: 170%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-align: left;
	margin: 0;
}

.pcOnly {
	display: none !important;
}

.spOnly {
	display: block !important;
}

img {
	width: 100%;
	height: auto;
}

#loader {
	width: 143px;
	height: 149px;
	margin-top: -71.5px;
	margin-left: -74.5px;
}

#loader img {
	width: 143px;
	height: 149px;
}

h2 {
	width: 50px;
	height: 50px;
	margin: 0 auto 40px;
}

.lead {
	margin: 25px 0;
	font-size: 4vw;
}

.snsArea {
	width: 72%;
}

.snsArea li:nth-child(2) {
	margin-top: -5px;
}

.snsArea li:nth-child(4) {
	margin-top: 3px;
}

.snsArea li:nth-child(5) {
	margin-top: 3px;
}

.snsArea li {
	width: 24px;
}

.sub .sec04 {
	margin-top: -71px;
}

header {
	height: 90px;
}

header .inner {
	height: 90px;
}

header .inner .logo {
	width: 50px;
	left: 20px;
	top: 20px;
}

header .inner .menu {
	right: 30px;
	top: 30px;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}

nav {
	padding-top: 90px !important;
}

nav ul.navi {
	margin-bottom: 20px;
}

nav ul.navi li {
	height: 80px;
}

nav ul.navi li a {
	height: 80px;
}

nav ul.navi li a span img {
	width: 50px;
}

nav ul.navi.sb-slidebar {
	top: 52px;
	width: 50%;
	background-color: #FFF100;
	padding: 0 3%;
}

.ver2019_02 #container .sec01 {
	background: url("../images/main_v_2019_02_sp.jpg") no-repeat 55% center !important;
	background-size: cover !important;
}

.ver2019_02 #container .sec01 h1 {
	left: 50%;
	top: 20% !important;
	width: 160px;
	margin: 0 0 0 -80px;
}

.ver2019 #container section .inner,
.ver2019_02 #container section .inner {
	padding: 0 5%;
}

.ver2019 #container .sec01,
.ver2019_02 #container .sec01 {
	background: url("../images/main_v_2019.jpg") no-repeat 55% center;
	background-size: cover;
}

.ver2019 #container .sec01 h1,
.ver2019_02 #container .sec01 h1 {
	left: 50%;
	top: 40px;
	width: 160px;
	margin: 0 0 0 -80px;
}

.ver2019 #container .sec05 .pic,
.ver2019_02 #container .sec05 .pic {
	margin-bottom: 15px;
}

section .inner {
	padding: 0 5%;
}

.sec02,
.sec03,
.sec04,
.sec05,
.sec06,
.sec07 {
	padding: 60px 0;
}

.sec01 {
	background: url("../images/sp/main_v.jpg") no-repeat;
	background-size: cover;
}

.sec01 h1 {
	left: 50%;
	top: 40px;
	width: 160px;
	margin: 0 0 0 -80px;
}

.sec01 .arrows {
	width: 23px;
	height: auto;
	margin-left: -11.5px;
}

.sec02 .movie {
	width: 100%;
}

.sec03 ul li {
	margin-bottom: 40px;
}

.sec03 ul li figcaption {
	display: none;
}

.sec04 ul li .live_detail_inner {
	padding: 0;
}

.sec04 ul li {
	padding: 40px 0;
}

.sec04 ul li .pic {
	margin-bottom: 15px;
}

.sec04 ul li div .ttl {
	font-size: 4.26667vw;
}

.sec05 {
	font-size: 3.73333vw;
	line-height: 1.5;
}

.sec05 .pic {
	margin-bottom: 15px;
}

.sec06 ul li {
	margin-bottom: 30px;
}

.sec06 ul li .pic {
	margin-bottom: 15px;
}

.sec07 .inner table th,
.sec07 .inner table td {
	display: block;
}

.sec07 .inner table th {
	width: 100%;
	padding-left: 0;
	padding-top: 15px;
	padding-bottom: 5px;
}

.sec07 .inner table td {
	width: 100%;
	padding-right: 0;
}

.sec07 .inner .text_btm {
	font-size: 4vw;
}

footer {
	padding: 5.06667vw 3.33333vw;
}

#sub #main.article_detaile #contents h2,
#sub #main.template #contents h2 {
	background: url(../images/title_line.png) no-repeat left bottom;
	padding-bottom: 10px;
	line-height: 1.5;
	font-size: 2.0rem;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 60px;
}

#sub #main.article_detaile #contents h3,
#sub #main.template #contents h3 {
	font-size: 1.8rem;
	font-weight: bold;
	border-bottom: 1px solid #FFF100;
	margin-bottom: 20px;
	margin-top: 40px;
}

#sub #main.article_detaile #contents h4,
#sub #main.template #contents h4 {
	font-size: 1.6rem;
	font-weight: bold;
	background: url(../images/title_line02.png) no-repeat left bottom;
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 40px;
}

#sub #main.article_detaile #contents p,
#sub #main.template #contents p {
	margin-bottom: 1em;
}

#sub #main.template #contents { /* === ■お問い合わせ === */
}

#sub #main.template #contents ul {
	list-style-type: disc !important;
	padding-left: 2em;
	margin-bottom: 1em;
}

#sub #main.template #contents ul li {
	display: list-item;
}

#sub #main.template #contents #otoiawase h1,
#sub #main.template #contents #mendan h1,
#sub #main.template #contents #muryopdf h1 {
	background: #FC9000;
}

#sub #main.template #contents #otoiawase h2,
#sub #main.template #contents #mendan h2,
#sub #main.template #contents #muryopdf h2 {
	border-color: #FC9000;
}

#sub #main.template #contents #contact-formBox table {
	font-size: 16px;
	margin: 0 0 20px;
	width: 100%;
}

#sub #main.template #contents #contact-formBox table th {
	text-align: left;
	padding: 0 0 5px 0;
	width: 100%;
	display: block;
	font-weight: bold;
}

#sub #main.template #contents #contact-formBox table td {
	padding: 0 0 20px 0;
	display: block;
}

#sub #main.template #contents #contact-formBox input[type="text"],
#sub #main.template #contents #contact-formBox input[type="email"] {
	height: 40px;
	width: 100%;
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid #c0cbd2;
}

#sub #main.template #contents #contact-formBox textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #c0cbd2;
}

#sub #main.template #contents #contact-formBox .hissu {
	font-size: 14px;
	font-weight: normal;
	border-radius: 3px;
	background: #EA4948;
	color: #FFFFFF;
	display: inline-block;
	margin: 0 0 0 10px;
	padding: 0 5px;
}

#sub #main.template #contents #contact-formBox .v-top {
	vertical-align: top;
}

#sub #main.template #contents #contact-formBox input[type="text"].w-small,
#sub #main.template #contents #contact-formBox input[type="email"].w-small {
	width: 70%;
}

#sub #main.template #contents #contact-formBox .scBox {
	width: 90%;
	height: 100px;
	padding: 0 10px;
	border: 1px solid #C0CBD2;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	margin: 0 auto 40px;
}

#sub #main.template #contents #contact-formBox .scBox .ttl {
	font-size: 18px;
	font-weight: bold;
}

#sub #main.template #contents #contact-formBox p.btn {
	text-align: center;
	margin: 60px auto;
}

#sub #main.template #contents #otoiawase ul {
	font-weight: bold;
	list-style-type: disc;
	margin: 40px 0;
}

#sub #main.template #contents #muryopdf span.bld {
	font-size: 16px;
}

#sub #main.template #contents #mendan table#nittei {
	border: 1px solid #FED399;
	font-size: 20px;
	width: 100%;
	margin: 50px 0 10px;
}

#sub #main.template #contents #mendan table#nittei th {
	background: #FED399;
	border-top: 1px solid #FFFFFF;
	text-align: left;
	padding: 15px;
}

#sub #main.template #contents #mendan table#nittei tr:first-child th {
	border-top: 1px solid #FED399;
}

#sub #main.template #contents #mendan table#nittei td {
	border: 1px solid #FED399;
	padding: 15px;
}

#sub #main.template #contents #mendan #contact-formBox p.bld {
	font-size: 16px;
	margin: 0 0 40px;
}

.pc {
	display: none !important;
}

}

@keyframes fadeIn {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@-webkit-keyframes fadeIn {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@-webkit-keyframes maku {

100% {
	right: 0;
}

}

@keyframes maku {

100% {
	right: 0;
}

}

@-webkit-keyframes fade_sns {

100% {
	opacity: 1;
}

}

@keyframes fade_sns {

100% {
	opacity: 1;
}

}

@-webkit-keyframes fluffy1 {

0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

5% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

10% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

20% {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

25% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

30% {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

50% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}

@keyframes fluffy1 {

0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

5% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

10% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

20% {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

25% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

30% {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

50% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}

@-webkit-keyframes fuwafuwa {

0% {
	-webkit-transform: translate(0, 0);
}

50% {
	-webkit-transform: translate(0, -10px);
}

100% {
	-webkit-transform: translate(0, 0);
}

}

@-webkit-keyframes fade-in {

0% {
	display: none;
	opacity: 0;
}

1% {
	display: block;
	opacity: 0;
}

100% {
	display: block;
	opacity: 1;
}

}

@keyframes fade-in {

0% {
	display: none;
	opacity: 0;
}

1% {
	display: block;
	opacity: 0;
}

100% {
	display: block;
	opacity: 1;
}

}

@-webkit-keyframes fade-up {

0% {
	opacity: 0;
	-webkit-transform: translate(0, -30px);
	transform: translate(0, -30px);
}

1% {
	opacity: 0;
	-webkit-transform: translate(0, -30px);
	transform: translate(0, -30px);
}

100% {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

}

@keyframes fade-up {

0% {
	opacity: 0;
	-webkit-transform: translate(0, -30px);
	transform: translate(0, -30px);
}

1% {
	opacity: 0;
	-webkit-transform: translate(0, -30px);
	transform: translate(0, -30px);
}

100% {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

}

@-webkit-keyframes nav-open {

0% {
	display: none;
	opacity: 0;
	height: 0;
}

1% {
	display: block;
	opacity: 0;
	height: 0;
}

100% {
	display: block;
	opacity: 1;
	height: 100vh;
}

}

@keyframes nav-open {

0% {
	display: none;
	opacity: 0;
	height: 0;
}

1% {
	display: block;
	opacity: 0;
	height: 0;
}

100% {
	display: block;
	opacity: 1;
	height: 100vh;
}

}

