.fadeIn{
	opacity: 0;
	transition: 0.5s;
}
.fadeIn_active{
	opacity: 1.0;
}

.fadeInUp{
	opacity: 0;
	transform: translate(0,60px); 
	-webkit-transform: translate(0,60px); 
	transition: 0.5s;
}
.fadeInUp_active{
	opacity: 1.0;
	transform: translate(0,0); 
	-webkit-transform: translate(0,0);
}

//anime

@keyframes opacity_hover{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.3;
    }
}

@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 10px);
    opacity: 0;
  }
}