@mixin min($break-point:$bp_pc) {
  @media screen and (min-width: $break-point) {
	@content;
  }
}

@mixin max($break-point:$bp_sp) {
  @media screen and (max-width: $break-point) {
	@content;
  }
}

@mixin min-max($break-point-min:$bp_sp, $break-point-max:$bp_tab) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
	@content;
  }
}

@mixin transition($property,$time,$delay:0s)
{
  transition-property: $property;
  transition-duration: $time;
  transition-delay: $delay;
}

@mixin last-mb0() {
  > :last-child {
	margin-bottom: 0;
  }
}

@mixin wordbreak() {
  word-wrap: break-word;
  word-break: break-all;
}

@mixin imgrep() {
  text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@function PXtoVW($value)
{
  @return ($value / 3.75) + vw;
}
