img {
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
    vertical-align: top;
}

img[src$=".svg"] {
    width: 100%;
}

.small_text{
	font-size: 80%;
}

a{
	outline: none!important;
}

.sp{
  @include min{
	display:none !important;
  }
}

.pc{
  @include max{
	display: none !important;
  }
}

.snsbtn32{margin:0 0 1em 0;}
.snsbtn32 a{display:inline-block;width:24px;height:24px;margin:0 8px 0 0;line-height:24px;color:#fff;text-align:center;border-radius:50%;}
.snsbtn32 a i:before{margin:0 0 0 0;display:inline-block;font-size:14px;line-height:24px;}
.snsbtn32 a i{vertical-align:top;}
.snsbtn32 .btn-fb{background:#365899;}
.snsbtn32 .btn-tw{background:#1b95e0;}
.snsbtn32 .btn-po{background:#EF4056;}
.snsbtn32 .btn-hb{background:#008fde;}
.snsbtn32 .btn-gp{background:#DB4437;}
.snsbtn32 .btn-li{background:#00B900;}
.snsbtn32 .btn-fd{background:#2BB24C;}
.snsbtn32 .btn-bl{background:#333;}
.snsbtn32 .btn-fb:hover{background:#4166B0;}
.snsbtn32 .btn-tw:hover{background:#2EA1E9;}
.snsbtn32 .btn-po:hover{background:#F64F64;}
.snsbtn32 .btn-hb:hover{background:#009FF8;}
.snsbtn32 .btn-gp:hover{background:#db6d63;}
.snsbtn32 .btn-li:hover{background:#38ba38;}
.snsbtn32 .btn-fd:hover{background:#60b375;}
.snsbtn32 .btn-bl:hover{background:#505050;}

.loading{
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
}

.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
  margin-left: -35px;
  margin-top: -15px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #999;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}