/*green*/

/*orange*/

/*blue link*/

/*brown link*/

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

body {
	animation: fadeIn 2s ease 0s 1 normal;
	-webkit-animation: fadeIn 2s ease 0s 1 normal;
}

html.sb-active .menu {
	cursor: pointer;
}

html.sb-active .menu span:nth-of-type(1) {
	transform: translate(0, 8px) rotate(45deg);
	-webkit-transform: translate(0, 8px) rotate(45deg);
}

html.sb-active .menu span:nth-of-type(2) {
	transform: translate(20px, 0);
	-webkit-transform: translate(20px, 0);
	opacity: 0;
}

html.sb-active .menu span:nth-of-type(3) {
	transform: translate(0, -8px) rotate(-45deg);
	-webkit-transform: translate(0, -8px) rotate(-45deg);
}

body {
	font-family: "メイリオ", "Meiryo";
	text-align: left;
	color: #333333;
	background-color: #ffffff;
}

.red {
	color: #C4D502;
}

img {
	-webkit-backface-visibility: hidden;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#page-top {
	z-index: 10;
	opacity: 1;
	position: fixed !important;
	bottom: 102px;
	right: 20px;
	display: block;
	position: relative;
	text-indent: -9999px;
	height: 48px;
	width: 48px;
	background: url(../images/pagetop.png) no-repeat center center;
}

#page-top a {
	display: block;
	text-decoration: none;
	height: 48px;
	width: 48px;
	margin: 0;
}

#page-top:hover {
	opacity: 0.8;
}

.pager {
	margin-top: 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.pager li {
	list-style-type: none;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #F6F5F3;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin: 0 8px;
	text-align: center;
}

.pager li a {
	display: block;
	text-decoration: none;
	color: #333;
	width: 36px;
	height: 36px;
}

.pager li.active {
	background-color: #C4D502;
	color: #fff;
}

.pager li:first-child a {
	background: url(../images/arrows02.png) no-repeat center center #F6F5F3;
}

.pager li:last-child a {
	background: url(../images/arrows01.png) no-repeat center center #F6F5F3;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

media PC

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ==========================================================================

TABLET

========================================================================== */

/* ==========================================================================

SP

========================================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

body#sub #wrap {
	width: 100%;
}

.promotion_content_inner {
	width: 100% !important;
	height: 80% !important;
}

.fs-lightbox-close {
	width: 220px !important;
	display: block;
	border-left: 1px solid #FFF600;
	border-right: 1px solid #43D516;
	border-top: none;
	border-bottom: none;
	border-radius: 4px;
	position: relative;
	height: 60px !important;
	line-height: 60px !important;
	text-align: center;
	background-color: transparent;
}

.fs-lightbox.fs-light .fs-lightbox-close {
	bottom: 15px !important;
	left: 50% !important;
	z-index: 105;
	margin-left: -110px !important; /* text-indent: 200%; */
	white-space: nowrap;
}

#loader {
	display: none;
}

#t_p #page-top {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p .mainCont {
	opacity: 1 !important;
}

#t_p #fullpage h2 {
	padding: 0 0 20px;
	text-align: center;
}

#t_p #fullpage h2 img {
	width: 20%;
}

#t_p #fullpage .lead {
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.5;
}

#t_p #fullpage .btn {
	margin: 0 auto;
}

#t_p #fullpage .sec01 {
	position: relative;
	background-color: #2d1f1f;
	z-index: 9; /*世界地図　白*/ /*音楽で飛び出そう*/ /*paint*/
}

#t_p #fullpage .sec01 .mv01_1 {
	width: 100%;
	height: 100%;
	background: url(../images/sp/bg.png) no-repeat center center;
	background-size: cover;
	z-index: 11;
}

#t_p #fullpage .sec01 .mv01_2 {
	display: none;
}

#t_p #fullpage .sec01 .mv02 {
	display: none;
}

#t_p #fullpage .sec01 .mv03_1 {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -187.5px;
	z-index: 22;
	background: url(../images/sp/logo.png) no-repeat center center;
	background-size: 375px 182px;
	height: 182px;
	width: 375px;
}

#t_p #fullpage .sec01 .mv03_1 img {
	display: none;
}

#t_p #fullpage .sec01 .mv03_2 {
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -133.2px;
	background: url(../images/sp/lead.png) no-repeat center center;
	background-size: 266.5px 55px;
	height: 55px;
	width: 266.5px;
	text-indent: -9999px;
	z-index: 22;
}

#t_p #fullpage .sec01 .arrows {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -18px;
	z-index: 22;
	-webkit-animation: fluffy1 4s ease infinite;
	animation: fluffy1 4s ease infinite;
}

#t_p #fullpage .sec01 .arrows a {
	display: block;
}

#t_p #fullpage .sec02 {
	background: url(../images/bg_top01.jpg) no-repeat center center;
	background-size: cover;
	padding: 0 3%;
}

#t_p #fullpage .sec02 h2 {
	padding-top: 60px;
}

#t_p #fullpage .sec02 ul {
	padding-bottom: 10%;
}

#t_p #fullpage .sec02 ul li {
	overflow: hidden;
	text-align: left;
	padding-bottom: 7px;
	position: relative;
	margin-bottom: 25px;
}

#t_p #fullpage .sec02 ul li a {
	text-decoration: underline;
}

#t_p #fullpage .sec02 ul li a:hover {
	text-decoration: none;
}

#t_p #fullpage .sec02 ul li:last-child {
	margin-bottom: 0;
}

#t_p #fullpage .sec02 ul li:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #ff00d2 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#ff00d2));
	background: linear-gradient(to right, #fffc00 0%, #ff00d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#ff00d2', GradientType=1);
}

#t_p #fullpage .sec02 ul li p a:hover {
	opacity: 0.8;
	text-decoration: underline;
}

#t_p #fullpage .sec02 ul li:nth-child(n+5) {
	display: none;
}

#t_p #fullpage .sec03 {
	background: url(../images/bg_top02.jpg) no-repeat center center;
	background-size: cover;
}

#t_p #fullpage .sec03 h2 {
	padding: 60px 0 45px;
}

#t_p #fullpage .sec03 .navi {
	background: url(../images/sp/work_navi_bg.png) no-repeat center center;
	background-size: cover;
	height: 0;
	padding-bottom: 80.8%;
	font-size: 0;
	text-align: center;
	margin-bottom: 15px;
}

#t_p #fullpage .sec03 .navi li {
	display: inline-block;
	width: 30%;
}

#t_p #fullpage .sec03 .navi li img {
	display: none;
}

#t_p #fullpage .sec03 .navi li:nth-child(4),
#t_p #fullpage .sec03 .navi li:nth-child(5) {
	width: 40%;
}

#t_p #fullpage .sec03 .navi li:nth-child(4) a,
#t_p #fullpage .sec03 .navi li:nth-child(5) a {
	padding-bottom: 50%;
}

#t_p #fullpage .sec03 .navi li a {
	width: 100%;
	display: block;
	background: url(../images/sp/dummy.png) no-repeat center center;
	background-size: cover;
	height: 0;
	padding-top: 40%;
	padding-bottom: 100%;
}

#t_p #fullpage .sec04 {
	background: url(../images/bg_top03.jpg) no-repeat center center;
	background-size: cover; /*.custom-wpcf7c-confirmed {
          .btn_contact {
            display: none;
          }
        }*/
}

#t_p #fullpage .sec04 h2 {
	padding-top: 60px;
}

#t_p #fullpage .sec04 .lead {
	font-size: 1.6rem;
	margin-bottom: 20px;
}

#t_p #fullpage .sec04 .cont {
	text-align: center;
	padding: 0 3% 8%;
}

#t_p #fullpage .sec04 .cont dl {
	overflow: hidden;
	margin-bottom: 15px;
	font-size: 1.4rem;
	text-align: left;
}

#t_p #fullpage .sec04 .cont dl dt {
	width: 100%;
	line-height: 1.5;
}

#t_p #fullpage .sec04 .cont dl dt span {
	color: #C4D502;
}

#t_p #fullpage .sec04 .cont dl dd {
	width: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div {
	display: block;
	border-left: 1px solid #FFF600;
	border-right: 1px solid #43D516;
	border-top: none;
	border-bottom: none;
	border-radius: 2px;
	position: relative;
	height: 42px;
	line-height: 42px;
	width: 100%;
	text-align: center;
}

#t_p #fullpage .sec04 .cont dl dd div:before,
#t_p #fullpage .sec04 .cont dl dd div:after {
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #43d516 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#43d516));
	background: linear-gradient(to right, #fffc00 0%, #43d516 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#43d516', GradientType=1);
}

#t_p #fullpage .sec04 .cont dl dd div:before {
	content: "";
	top: 0;
}

#t_p #fullpage .sec04 .cont dl dd div:after {
	content: "";
	bottom: 0;
}

#t_p #fullpage .sec04 .cont dl dd div input,
#t_p #fullpage .sec04 .cont dl dd div textarea,
#t_p #fullpage .sec04 .cont dl dd div select {
	outline: none;
	padding: 0 5px;
	font-size: 16px;
}

#t_p #fullpage .sec04 .cont dl dd div input {
	height: 42px;
	border: none;
	background: rgba(255, 255, 255, .2);
	width: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div textarea {
	border: none;
	background: rgba(255, 255, 255, .2);
	width: 100%;
	height: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div select {
	color: #fff;
	width: 100%;
	background: rgba(255, 255, 255, .2);
	border: none;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#t_p #fullpage .sec04 .cont dl dd div select option {
	color: #000;
}

#t_p #fullpage .sec04 .cont dl dd div .selectWrap {
	position: relative;
}

#t_p #fullpage .sec04 .cont dl dd div .selectWrap::before {
	content: '';
	background: url(../images/sp/arrow_select.png) no-repeat center 98%;
	background-size: 7px 6px;
	position: absolute;
	z-index: 100;
	margin-top: -3px;
	top: 50%;
	right: 10px;
	height: 6px;
	width: 7px;
}

#t_p #fullpage .sec04 .cont dl dd.ta div {
	height: 100px;
}

#t_p #fullpage .sec04 .cont p a {
	color: #eaff00;
	text-decoration: underline;
}

#t_p #fullpage .sec04 .cont p a:hover {
	text-decoration: none;
}

#t_p #fullpage .sec04 .cont .text01 {
	font-size: 1.2rem;
}

#t_p #fullpage .sec04 .cont .pi {
	margin-top: 1em;
	margin-bottom: 20px;
	z-index: 10000000;
	position: relative;
}

#t_p #fullpage .sec04 .cont label {
	display: block;
	position: relative;
	z-index: 1000;
	cursor: pointer;
}

#t_p #fullpage .sec04 .cont label .icheckbox_minimal {
	margin-right: 5px;
}

#t_p #fullpage .sec04 .cont .btn_contact {
	width: 240px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#t_p #fullpage .sec04 .cont .btn_contact input {
	background: url(../images/btn_line.png) no-repeat center center;
	border: none;
	line-height: 60px;
	height: 60px;
	width: 240px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p #fullpage .sec04 .cont .btn_contact input[type="submit"][disabled] {
	border: none;
	background-color: transparent;
	cursor: not-allowed;
	color: #383838;
}

#t_p #fullpage .sec04 .cont .btnArea_contact {
	overflow: hidden;
	position: relative;
	height: 200px;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7c-elm-step2 {
	font-size: 16px;
	text-align: center;
	background-color: transparent;
	border: none;
	background: url(../images/btn_line.png) no-repeat center center;
	border: none;
	line-height: 60px;
	height: 60px;
	width: 240px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-back,
#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-submit {
	position: absolute;
	left: 50%;
	margin-left: -120px;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-back {
	top: 0;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-submit {
	top: 70px;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

body#sub #wrap {
	width: 100%;
}

.promotion_content_inner {
	width: 100% !important;
	height: 80% !important;
}

.fs-lightbox-close {
	width: 220px !important;
	display: block;
	border-left: 1px solid #FFF600;
	border-right: 1px solid #43D516;
	border-top: none;
	border-bottom: none;
	border-radius: 4px;
	position: relative;
	height: 60px !important;
	line-height: 60px !important;
	text-align: center;
	background-color: transparent;
}

.fs-lightbox.fs-light .fs-lightbox-close {
	bottom: 15px !important;
	left: 50% !important;
	z-index: 105;
	margin-left: -110px !important; /* text-indent: 200%; */
	white-space: nowrap;
}

#loader {
	display: none;
}

#t_p #page-top {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p .mainCont {
	opacity: 1 !important;
}

#t_p #fullpage h2 {
	padding: 0 0 20px;
	text-align: center;
}

#t_p #fullpage h2 img {
	width: 20%;
}

#t_p #fullpage .lead {
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.5;
}

#t_p #fullpage .btn {
	margin: 0 auto;
}

#t_p #fullpage .sec01 {
	position: relative;
	background-color: #2d1f1f;
	z-index: 9; /*世界地図　白*/ /*音楽で飛び出そう*/ /*paint*/
}

#t_p #fullpage .sec01 .mv01_1 {
	width: 100%;
	height: 100%;
	background: url(../images/sp/bg.png) no-repeat center center;
	background-size: cover;
	z-index: 11;
}

#t_p #fullpage .sec01 .mv01_2 {
	display: none;
}

#t_p #fullpage .sec01 .mv02 {
	display: none;
}

#t_p #fullpage .sec01 .mv03_1 {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -187.5px;
	z-index: 22;
	background: url(../images/sp/logo.png) no-repeat center center;
	background-size: 375px 182px;
	height: 182px;
	width: 375px;
}

#t_p #fullpage .sec01 .mv03_1 img {
	display: none;
}

#t_p #fullpage .sec01 .mv03_2 {
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -133.2px;
	background: url(../images/sp/lead.png) no-repeat center center;
	background-size: 266.5px 55px;
	height: 55px;
	width: 266.5px;
	text-indent: -9999px;
	z-index: 22;
}

#t_p #fullpage .sec01 .arrows {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -18px;
	z-index: 22;
	-webkit-animation: fluffy1 4s ease infinite;
	animation: fluffy1 4s ease infinite;
}

#t_p #fullpage .sec01 .arrows a {
	display: block;
}

#t_p #fullpage .sec02 {
	background: url(../images/bg_top01.jpg) no-repeat center center;
	background-size: cover;
	padding: 0 3%;
}

#t_p #fullpage .sec02 h2 {
	padding-top: 60px;
}

#t_p #fullpage .sec02 ul {
	padding-bottom: 10%;
	width: 100%;
}

#t_p #fullpage .sec02 ul li {
	overflow: hidden;
	text-align: left;
	padding-bottom: 7px;
	position: relative;
	margin-bottom: 25px;
}

#t_p #fullpage .sec02 ul li:last-child {
	margin-bottom: 0;
}

#t_p #fullpage .sec02 ul li:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #ff00d2 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#ff00d2));
	background: linear-gradient(to right, #fffc00 0%, #ff00d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#ff00d2', GradientType=1);
}

#t_p #fullpage .sec02 ul li .date {
	padding-left: 0 !important;
}

#t_p #fullpage .sec02 ul li p {
	width: 100% !important;
}

#t_p #fullpage .sec02 ul li p a:hover {
	border-radius: 0.8;
	text-decoration: underline;
}

#t_p #fullpage .sec02 ul li:nth-child(n+5) {
	display: none;
}

#t_p #fullpage .sec03 {
	background: url(../images/bg_top02.jpg) no-repeat center center;
	background-size: cover;
}

#t_p #fullpage .sec03 h2 {
	padding: 60px 0 45px;
}

#t_p #fullpage .sec03 .navi {
	background: url(../images/sp/work_navi_bg.png) no-repeat center center;
	background-size: cover;
	height: 0;
	padding-bottom: 80.8%;
	font-size: 0;
	text-align: center;
	margin-bottom: 15px;
}

#t_p #fullpage .sec03 .navi li {
	display: inline-block;
	width: 30%;
}

#t_p #fullpage .sec03 .navi li img {
	display: none;
}

#t_p #fullpage .sec03 .navi li:nth-child(4),
#t_p #fullpage .sec03 .navi li:nth-child(5) {
	width: 40%;
}

#t_p #fullpage .sec03 .navi li:nth-child(4) a,
#t_p #fullpage .sec03 .navi li:nth-child(5) a {
	padding-bottom: 50%;
}

#t_p #fullpage .sec03 .navi li a {
	width: 100%;
	display: block;
	background: url(../images/sp/dummy.png) no-repeat center center;
	background-size: cover;
	height: 0;
	padding-top: 40%;
	padding-bottom: 100%;
}

#t_p #fullpage .sec04 {
	background: url(../images/bg_top03.jpg) no-repeat center center;
	background-size: cover; /*.custom-wpcf7c-confirmed {
          .btn_contact {
            display: none;
          }
        }*/
}

#t_p #fullpage .sec04 h2 {
	padding-top: 60px;
}

#t_p #fullpage .sec04 .lead {
	font-size: 1.6rem;
	margin-bottom: 20px;
}

#t_p #fullpage .sec04 .cont {
	text-align: center;
	padding: 0 3% 8%;
}

#t_p #fullpage .sec04 .cont dl {
	overflow: hidden;
	margin-bottom: 15px;
	font-size: 1.4rem;
	text-align: left;
}

#t_p #fullpage .sec04 .cont dl dt {
	width: 100%;
	line-height: 1.5;
}

#t_p #fullpage .sec04 .cont dl dt span {
	color: #C4D502;
}

#t_p #fullpage .sec04 .cont dl dd {
	width: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div {
	display: block;
	border-left: 1px solid #FFF600;
	border-right: 1px solid #43D516;
	border-top: none;
	border-bottom: none;
	border-radius: 2px;
	position: relative;
	height: 42px;
	line-height: 42px;
	width: 100%;
	text-align: center;
}

#t_p #fullpage .sec04 .cont dl dd div:before,
#t_p #fullpage .sec04 .cont dl dd div:after {
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #43d516 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#43d516));
	background: linear-gradient(to right, #fffc00 0%, #43d516 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#43d516', GradientType=1);
}

#t_p #fullpage .sec04 .cont dl dd div:before {
	content: "";
	top: 0;
}

#t_p #fullpage .sec04 .cont dl dd div:after {
	content: "";
	bottom: 0;
}

#t_p #fullpage .sec04 .cont dl dd div input,
#t_p #fullpage .sec04 .cont dl dd div textarea,
#t_p #fullpage .sec04 .cont dl dd div select {
	outline: none;
	padding: 0 5px;
	font-size: 16px;
}

#t_p #fullpage .sec04 .cont dl dd div input {
	height: 42px;
	border: none;
	background: rgba(255, 255, 255, .2);
	width: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div textarea {
	border: none;
	background: rgba(255, 255, 255, .2);
	width: 100%;
	height: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div select {
	color: #fff;
	width: 100%;
	background: rgba(255, 255, 255, .2);
	border: none;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#t_p #fullpage .sec04 .cont dl dd div select option {
	color: #000;
}

#t_p #fullpage .sec04 .cont dl dd div .selectWrap {
	position: relative;
}

#t_p #fullpage .sec04 .cont dl dd div .selectWrap::before {
	content: '';
	background: url(../images/sp/arrow_select.png) no-repeat center 98%;
	background-size: 7px 6px;
	position: absolute;
	z-index: 100;
	margin-top: -3px;
	top: 50%;
	right: 10px;
	height: 6px;
	width: 7px;
}

#t_p #fullpage .sec04 .cont dl dd.ta div {
	height: 100px;
}

#t_p #fullpage .sec04 .cont p a {
	color: #eaff00;
	text-decoration: underline;
}

#t_p #fullpage .sec04 .cont p a:hover {
	text-decoration: none;
}

#t_p #fullpage .sec04 .cont .text01 {
	font-size: 1.2rem;
}

#t_p #fullpage .sec04 .cont .pi {
	margin-top: 1em;
	margin-bottom: 20px;
	z-index: 10000000;
	position: relative;
}

#t_p #fullpage .sec04 .cont label {
	display: block;
	position: relative;
	z-index: 1000;
	cursor: pointer;
}

#t_p #fullpage .sec04 .cont label .icheckbox_minimal {
	margin-right: 5px;
}

#t_p #fullpage .sec04 .cont .btn_contact {
	width: 240px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#t_p #fullpage .sec04 .cont .btn_contact input {
	background: url(../images/btn_line.png) no-repeat center center;
	border: none;
	line-height: 60px;
	height: 60px;
	width: 240px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p #fullpage .sec04 .cont .btn_contact input[type="submit"][disabled] {
	border: none;
	background-color: transparent;
	cursor: not-allowed;
	color: #383838;
}

#t_p #fullpage .sec04 .cont .btnArea_contact {
	overflow: hidden;
	position: relative;
	height: 200px;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7c-elm-step2 {
	font-size: 16px;
	text-align: center;
	background-color: transparent;
	border: none;
	background: url(../images/btn_line.png) no-repeat center center;
	border: none;
	line-height: 60px;
	height: 60px;
	width: 240px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-back,
#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-submit {
	position: absolute;
	left: 50%;
	margin-left: -120px;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-back {
	top: 0;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-submit {
	top: 70px;
}

}

@media screen and (min-width: 768px) {

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 1.8;
}

a,
.hover {
	color: #333333;
	text-decoration: none;
}

a:hover,
.hover:hover {
	color: #000;
	opacity: 0.5;
}

.pcOnly {
	display: block;
}

.spOnly {
	display: none;
}

.pink {
	color: #C4D502;
}

img {
	vertical-align: top;
}

ul {
	list-style-type: none;
}

.none {
	display: none;
}

.supText {
	font-size: 75.5%;
	vertical-align: top;
	position: relative;
	top: -0.1em;
}

.menu {
	cursor: pointer;
	width: 60px;
	height: 60px;
	background: rgba(0, 0, 0, .8);
	z-index: 10001;
	position: fixed;
	top: 0;
	right: 0;
	padding: 19px 12px 0;
}

.menu span {
	-webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
	transition: all 400ms cubic-bezier(1, 0, 0, 1);
	-webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
	transition-timing-function: cubic-bezier(1, 0, 0, 1);
	display: block;
	height: 2px;
	background-color: #fff;
	margin-bottom: 6px;
}

.input {
	border: 1px solid #D1CAB7;
	border-radius: 4px;
	padding: 0 10px;
}

.btn {
	width: 260px;
}

.btn a,
.btn p,
.btn input {
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
	display: block;
	background: url(../images/btn_bg.gif) repeat;
	border-radius: 4px;
	height: 60px;
	line-height: 60px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	border: none;
	-webkit-box-shadow: 2px 2px 1px 0px #d66912;
	box-shadow: 2px 2px 1px 0px #d66912;
	-webkit-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

.btn a:hover,
.btn p:hover,
.btn input:hover {
	opacity: 0.5;
}

.btn_w_s {
	text-align: center;
	width: 180px;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	border-radius: 2px;
	display: block;
	color: #57380f;
	font-weight: bold;
	border-bottom: 1px solid #d6cbc2;
	border-left: none;
	border-top: none;
	border-right: none;
}

.btn_w {
	width: 240px;
	height: 48px;
	line-height: 46px;
	text-align: center;
	border: 1px solid #D28522;
	border-radius: 2px;
}

.btn_w.more {
	margin: 24px auto 0;
}

.btn_w.more a {
	display: block;
	width: 100%;
	background-color: #fff;
}

.btn_w.more a span {
	background: url(../images/arrow_btn.png) no-repeat right center;
	padding-right: 24px;
	font-weight: bold;
}

header {
	border-top: 4px solid #C4D502;
	width: 100%;
}

header .header_top_inner {
	width: 1140px;
	margin: 0 auto;
	position: relative;
	height: 96px; /*.lead {
          position: absolute;
          top: 14px;
          right: 0;
          font-size: 14px;
        }*/
}

header .header_top_inner .logo {
	position: absolute;
	top: 24px;
	left: 0;
	width: 388px;
	height: 51px;
}

header .header_top_inner .logo a {
	width: 388px;
	height: 51px;
	display: block;
	background: url(../images/logo.png) no-repeat left center;
	background-size: 388px 51px;
	font-size: 13px;
	padding: 31px 0 0 60px;
}

header .header_top_inner .logo a span {
	line-height: 1.0;
}

header .header_top_inner .sub_navi {
	position: absolute;
	top: 29px;
	right: 0;
	font-size: 14px;
	overflow: hidden;
	width: 480px;
}

header .header_top_inner .sub_navi ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	float: left;
	margin-right: 26px;
	line-height: 32px;
}

header .header_top_inner .sub_navi ul li {
	margin-left: 20px;
	padding-left: 26px;
}

header .header_top_inner .sub_navi ul li:first-child {
	background: url(../images/icon_contact.png) no-repeat left center;
	background-size: 21px 16px;
}

header .header_top_inner .sub_navi ul li:last-child {
	background: url(../images/icon_info.png) no-repeat left center;
	background-size: 20px 20px;
}

header .header_top_inner .sub_navi .search .screen-reader-text {
	display: none;
	float: left;
}

header .header_top_inner .sub_navi .search input {
	vertical-align: top;
}

header .header_top_inner .sub_navi .search #s {
	border: 1px solid #EBE9E3;
	height: 32px;
	line-height: 32px;
	width: 183px;
	border-radius: 4px 0 0 4px;
	padding: 0 10px;
}

header .header_top_inner .sub_navi .search #searchsubmit {
	width: 32px;
	height: 32px;
	border: none;
	text-indent: -9999px;
	background: url(../images/icon_search.png) no-repeat left center;
}

header .header_navi_wrap {
	height: 60px;
	border-bottom: 1px solid #A5B300;
	background-color: #C4D502;
}

header .header_navi_wrap .header_navi_wrap_inner {
	width: 1140px;
	margin: 0 auto;
}

header .header_navi_wrap .header_navi_wrap_inner .menu {
	display: none;
}

header .header_navi_wrap .header_navi_wrap_inner ul {
	border-right: 1px solid #DCE667;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

header .header_navi_wrap .header_navi_wrap_inner ul li {
	border-left: 1px solid #DCE667;
	text-align: center;
	line-height: 59px;
	width: 93px;
}

header .header_navi_wrap .header_navi_wrap_inner ul li a {
	color: #fff;
	display: block;
}

header .header_navi_wrap .header_navi_wrap_inner ul li.n01 {
	width: 156px;
}

header .header_navi_wrap .header_navi_wrap_inner ul li.n02 {
	width: 103px;
}

header .header_navi_wrap .header_navi_wrap_inner ul li.n03 {
	width: 103px;
}

header .header_navi_wrap .header_navi_wrap_inner ul li.n06 {
	width: 167px;
}

header .header_navi_wrap .header_navi_wrap_inner ul li.n09 {
	width: 119px;
}

header .header_navi_wrap .header_navi_wrap_inner ul li.n10 {
	width: 119px;
}

.breadcrumbList {
	background-color: #fff;
	padding: 8px 0;
}

.breadcrumbList ol {
	width: 1140px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.breadcrumbList ol li {
	display: inline;
	font-size: 14px;
}

.breadcrumbList ol li a {
	color: #57380f;
	text-decoration: underline;
}

.breadcrumbList ol li a:hover {
	text-decoration: none;
}

.breadcrumbList ol li:after {
	display: inline-block;
	content: '>';
	margin: 0 9px;
	color: #000000;
}

.breadcrumbList ol li:last-child a {
	color: #000;
	text-decoration: none;
}

.breadcrumbList ol li:last-child a:hover {
	opacity: 1;
	cursor: default;
}

.breadcrumbList ol li:last-child:after {
	content: '';
}

#main {
	overflow: hidden;
	width: 1140px;
	margin: 0 auto;
	padding-top: 40px;
}

#main #contents {
	float: left;
	width: 850px; /*article*/
}

#main #contents .title_sub {
	font-size: 20px;
	border-bottom: 1px solid #C4D502;
	padding-bottom: 15px; /*margin-bottom: 24px;*/
}

#main #contents .title_sub span {
	font-size: 16px;
	margin-left: 0.5em;
}

#main #contents .article_list_title__main {
	font-size: 32px;
	font-weight: bold;
}

#main #contents .article_list_lead {
	padding: 30px 0 20px;
}

#main #contents .article_detaile__info {
	padding-bottom: 20px;
}

#main #contents .article_detaile__info__box {
	overflow: hidden;
	padding-top: 30px;
	margin-bottom: 20px;
	position: relative;
}

#main #contents .article_detaile__info__box .cate {
	width: 645px;
	position: static;
	float: left;
}

#main #contents .article_detaile__info__box .update {
	position: absolute;
	padding-top: 8px;
}

#main #contents .article_detaile__title__main {
	font-size: 28px;
	font-weight: bold;
	line-height: 1.5;
}

#main #contents .article_detaile__snslist {
	overflow: hidden;
}

#main #contents .article_detaile__snslist li {
	float: left;
	margin-right: 10px;
}

#main #contents .article_detaile__snslist.bottom {
	padding-top: 45px;
}

#main #contents .article_detaile__contents {
	padding: 30px 0 20px;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 40px; /*p{
            margin-bottom: 1em;
          }*/
}

#main #contents .article_detaile__contents h2 {
	background: url(../images/title_line.png) no-repeat left bottom;
	padding-bottom: 16px;
	line-height: 1.5;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}

#main #contents .article_detaile__contents a {
	color: #57380f;
	text-decoration: underline;
	font-weight: bold;
}

#main #contents .article_detaile__contents a:hover {
	text-decoration: none;
}

#main #contents .cate {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 380px;
	overflow: hidden;
}

#main #contents .cate li {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
	display: block;
}

#main #contents .cate li a {
	display: block;
	border-radius: 100px;
	background-color: #F6F5F3;
	text-align: center;
	padding: 0 15px;
	font-size: 14px;
	line-height: 28px;
}

#main #contents .update {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 14px;
}

#main #contents .update span {
	font-size: 16px;
	background: url(../images/icon_view.png) no-repeat left center;
	padding-left: 28px;
	line-height: 20px;
	margin-left: 17px;
}

#main #contents .article_list_wrap {
	padding-bottom: 60px;
	border-top: 1px solid #E6E6E6;
}

#main #contents .article_list_wrap article {
	border-bottom: 1px solid #E6E6E6;
	padding: 28px 0;
}

#main #contents .article_list_wrap article dl {
	height: 180px;
}

#main #contents .article_list_wrap article dl dt {
	float: left;
	width: 270px;
}

#main #contents .article_list_wrap article dl dd {
	float: right;
	height: 180px;
	width: 562px;
	position: relative;
}

#main #contents .article_list_wrap article dl dd .article_title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: -2px;
	line-height: 1.4;
}

#main #contents .article_list_wrap article dl dd .article_title a:hover {
	text-decoration: underline;
}

#main #contents .sec_questionnaire {
	background-color: #EEEADE;
	padding: 16px;
	margin-bottom: 45px;
	font-weight: bold;
	position: relative;
	height: 80px;
	line-height: 48px;
}

#main #contents .sec_questionnaire ul {
	width: 540px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: absolute;
	top: 16px;
	right: 16px;
}

#main #contents .sec_questionnaire ul li {
	width: 260px;
	height: 48px;
	line-height: 48px;
	text-align: center;
}

#main #contents .sec_questionnaire ul li:first-child a span {
	background: url(../images/icon_yes.png) no-repeat left center;
	background-size: 24px 24px;
}

#main #contents .sec_questionnaire ul li:last-child a span {
	background: url(../images/icon_no.png) no-repeat left center;
	background-size: 24px 24px;
}

#main #contents .sec_questionnaire ul li a {
	display: block;
	font-size: 18px;
	font-weight: normal;
	border-radius: 2px;
	background-color: #fff;
}

#main #contents .sec_questionnaire ul li a span {
	padding-left: 35px;
}

#main #contents .sec_osusume {
	margin-bottom: 50px;
}

#main #contents .sec_osusume__title {
	height: 72px;
	display: table;
	position: absolute;
	left: 170px;
	top: 20px;
	width: 680px;
	line-height: 1.4;
}

#main #contents .sec_osusume__title span {
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
}

#main #contents .sec_osusume__title span a {
	background: url(../images/arrows01.png) no-repeat right center;
	padding-right: 20px;
}

#main #contents .sec_osusume__title span a:hover {
	text-decoration: underline;
}

#main #contents .sec_osusume__info {
	width: 680px;
	position: absolute;
	bottom: 22px;
	left: 170px;
}

#main #contents .sec_osusume__info__box {
	position: relative;
}

#main #contents .sec_osusume article {
	position: relative;
	height: 144px;
	padding: 20px 0;
	border-bottom: 1px solid #E6E6E6;
}

#main #contents .sec_comments {
	padding-bottom: 60px;
}

#main #contents .sec_comments__box {
	background-color: #F6F5F3;
	margin-top: 24px;
	padding: 20px;
}

#main #contents .sec_comments__box textarea {
	border: 1px solid #D1CAB7;
	background-color: #fff;
	border-radius: 2px;
	width: 100%;
	height: 100px;
	padding: 10px;
}

#main #contents .sec_comments__box textarea::-webkit-input-placeholder {
	color: #cfcfcf;
	font-weight: bold;
}

#main #contents .sec_comments__box textarea:-ms-input-placeholder {
	color: #cfcfcf;
	font-weight: bold;
}

#main #contents .sec_comments__box textarea::-moz-placeholder {
	color: #cfcfcf;
	font-weight: bold;
}

#main #contents .sec_comments__box__btn {
	position: relative;
}

#main #contents .sec_comments__box__btn .btn_w_s {
	float: right;
}

#main #contents .sec_comments article {
	padding: 18px 0;
	border-bottom: 1px solid #E6E6E6;
}

#main #contents .sec_comments article .article_title {
	font-weight: bold;
}

#main #contents .sec_comments article .article_title span {
	font-weight: normal;
	font-size: 12px;
	margin-left: 15px;
}

#main #contents .sec_comments article .article_text {
	padding: 15px 0;
}

#main #contents .sec_comments article .article_fb {
	position: relative;
}

#main #contents .sec_comments article .article_fb ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

#main #contents .sec_comments article .article_fb ul img {
	margin-right: 5px;
}

#main #contents .sec_comments article .article_fb ul li.good {
	margin-right: 30px;
}

#main #contents .sec_comments article .article_fb ul li.bad img {
	padding-top: 8px;
}

#main #contents .sec_comments article .article_reply {
	position: absolute;
	right: 0;
	top: 0;
}

#main #contents .sec_comments article .article_reply a {
	text-decoration: underline;
}

#main #contents .sec_comments article .article_reply a:hover {
	text-decoration: none;
}

#main #contents .sec_comments article.article_reply_comments {
	overflow: hidden;
}

#main #contents .sec_comments article.article_reply_comments .article_reply_comments__inner {
	width: 770px;
	float: right;
}

#main #contents .sec_comments article.article_reply_comments .article_reply_comments__inner .article_title {
	background: url(../images/icon_reply.png) no-repeat left center;
	padding-left: 35px;
}

#main #contents .sec_mailmagazine_01 {
	background-color: #F6F5F3;
	padding: 40px;
	position: relative;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_title {
	color: #41a415;
	font-size: 24px;
	font-weight: bold;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_text__01 {
	font-size: 18px;
	margin-top: 10px;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_text__01 span {
	font-weight: bold;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_text__02 {
	font-size: 13px;
	text-align: center;
	padding-top: 15px;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_text__02 a {
	color: #6a9de3;
	text-decoration: underline;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_text__02 a:hover {
	text-decoration: none;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_pic__01 {
	position: absolute;
	top: 113px;
	right: 33px;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_form {
	padding: 27px 0 0;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_form table {
	width: 100%;
	background-color: #EEEADE;
	margin-bottom: 20px;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_form table th {
	padding: 10px 0 10px 10px;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_form table th p {
	background: url(../images/mailmagazine_input_bg.png) no-repeat left center;
	background-size: 176px 60px;
	display: block;
	width: 176px;
	height: 60px;
	padding-left: 20px;
	color: #fff;
	line-height: 60px;
	font-size: 18px;
	font-weight: bold;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_form table td {
	padding: 10px 10px 10px 10px;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_form table td .sec_mailmagazine_form_mail {
	width: 554px;
	height: 48px;
	line-height: 48px;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_form .resist-btn {
	margin: 0 auto;
}

#main #contents .sec_mailmagazine_01 .sec_mailmagazine_form .resist-btn input {
	font-size: 24px;
}

#main #contents .page_link {
	margin-top: 45px;
	width: 100%;
	position: relative;
	height: 28px;
}

#main #contents .page_link.page_link_back a {
	padding-left: 20px;
	background: url(../images/arrows02.png) no-repeat left center;
	position: absolute;
	left: 0;
	top: 0;
}

#main #contents .page_link.page_link_next a {
	padding-right: 20px;
	background: url(../images/arrows01.png) no-repeat right center;
	position: absolute;
	right: 0;
	top: 0;
}

#main #contents .page_link a {
	color: #57380f;
	text-decoration: underline;
	font-weight: bold;
}

#main #contents .page_link a:hover {
	text-decoration: none;
}

#main #side {
	float: right;
	width: 255px;
}

#main #side .ranking {
	margin-bottom: 45px;
}

#main #side .ranking .tabs {
	border-top: 1px solid #C4D502;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#main #side .ranking .tabs li {
	width: 127px;
}

#main #side .ranking .tabs li a {
	text-align: center;
	line-height: 38px;
	display: block;
	background-color: #EEEADE;
	width: 100%;
	height: 38px;
	margin-top: 2px;
}

#main #side .ranking .tabs li a.is_active {
	background-color: #C4D502;
	color: #333;
	cursor: default;
	line-height: 40px;
	height: 40px;
	margin-top: 0;
}

#main #side .ranking .tab-content {
	-webkit-transition: all .3s;
	transition: all .3s;
	display: none;
}

#main #side .ranking .tab-content.is_show {
	display: block;
}

#main #side .ranking .title {
	font-weight: bold;
}

#main #side .ranking .ranking_contents div {
	border-bottom: 1px solid #E6E6E6;
	-webkit-backface-visibility: hidden;
}

#main #side .ranking .ranking_contents div a {
	line-height: 1.4;
	display: block;
	background: url(../images/arrows01.png) no-repeat 98% center;
	padding: 20px 20px 20px 40px;
}

#main #side .ranking .ranking_contents div a:hover {
	text-decoration: underline;
}

#main #side .ranking .ranking_contents div.rank01 {
	background: url(../images/ranking01.png) no-repeat left 20px;
	background-size: 32px 32px;
}

#main #side .ranking .ranking_contents div.rank01 a {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.5;
}

#main #side .ranking .ranking_contents div.rank02 {
	background: url(../images/ranking02.png) no-repeat left 20px;
	background-size: 32px 32px;
}

#main #side .ranking .ranking_contents div.rank02 a {
	font-weight: bold;
}

#main #side .ranking .ranking_contents div.rank03 {
	background: url(../images/ranking03.png) no-repeat left 20px;
	background-size: 32px 32px;
}

#main #side .ranking .ranking_contents div.rank03 a {
	line-height: 1.4;
}

#main #side .ranking .ranking_contents div.rank04 {
	background: url(../images/ranking04.png) no-repeat left 20px;
	background-size: 32px 32px;
}

#main #side .ranking .ranking_contents div.rank04 a {
	font-size: 14px;
}

#main #side .ranking .ranking_contents div.rank05 {
	background: url(../images/ranking05.png) no-repeat left 20px;
	background-size: 32px 32px;
}

#main #side .ranking .ranking_contents div.rank05 a {
	font-size: 14px;
}

#main #side .tag {
	margin-bottom: 50px;
}

#main #side .tag .title {
	font-weight: bold;
	border-bottom: 1px solid #C4D502;
	padding-bottom: 8px;
}

#main #side .tag ul {
	padding: 15px 0;
	text-align: center;
	font-size: 0;
}

#main #side .tag ul li {
	font-size: 16px;
	padding: 5px 15px;
	display: inline-block;
}

#main #side .tag ul li a {
	font-weight: bold;
	color: #57380f;
	text-decoration: underline;
}

#main #side .tag ul li a:hover {
	text-decoration: none;
}

#main #side .online {
	background-color: #F6F5F3;
	text-align: center;
	padding: 20px 15px 23px 15px;
	margin-bottom: 48px;
}

#main #side .online p {
	font-weight: bold;
}

#main #side .online p.online_pic {
	margin-left: -5px;
	margin-bottom: 20px;
	margin-top: 15px;
}

#main #side .online table {
	margin-bottom: 12px;
	width: 100%;
}

#main #side .online .online_input {
	height: 38px;
	line-height: 38px;
	width: 100%;
	font-size: 13px;
	display: block;
}

#main #side .online .resist-btn {
	width: 100%;
}

#main #side .online .resist-btn input {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

#main #side .side_navi01 {
	margin-bottom: 48px;
}

#main #side .side_navi01 ul li {
	height: 80px;
	display: table;
	width: 100%;
}

#main #side .side_navi01 ul li a {
	border: 2px solid #FFBF00;
	font-size: 14px;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
}

#main #side .side_navi01 ul li a p {
	padding-left: 56px;
	line-height: 1.4;
}

#main #side .side_navi01 ul li.pt01 a {
	border: 2px solid #C4D502;
}

#main #side .side_navi01 ul li.pt_pdf a {
	background: url(../images/icon_pdf.png) no-repeat 15px center, url(../images/arrows01.png) no-repeat 95% center;
}

#main #side .side_navi01 ul li.pt_pdf span {
	color: #ea4948;
	font-weight: bold;
}

#main #side .side_navi01 ul li.pt_semi a {
	background: url(../images/icon_semi.png) no-repeat 15px center, url(../images/arrows01.png) no-repeat 95% center;
}

#main #side .side_navi02 {
	margin-bottom: 50px;
}

#main #side .side_navi02 ul li a {
	color: #fff;
	display: block;
}

#main #side .side_navi02 ul li a div {
	background: url(../images/arrows_w.png) no-repeat 95% center #57380f;
	display: table;
	width: 100%;
	height: 60px;
	padding: 0 0 0 14px;
}

#main #side .side_navi02 ul li a div p {
	font-size: 14px;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.5;
}

#main #side .side_navi02 ul li a div p span {
	font-size: 17px;
	font-weight: bold;
}

#main #side .side_navi01 ul li,
#main #side .side_navi02 ul li,
#main #side .side_navi03 ul li {
	margin-bottom: 20px;
}

#main #side .side_navi01 ul li:last-child,
#main #side .side_navi02 ul li:last-child,
#main #side .side_navi03 ul li:last-child {
	margin-bottom: 0;
}

footer {
	margin-top: 200px;
}

footer .footer_sitemap01 {
	background-color: #F1EFEA;
}

footer .footer_sitemap01 .footer_sitemap_inner ul {
	padding: 20px 0;
}

footer .footer_sitemap02 {
	background-color: #F6F5F3;
}

footer .footer_sitemap02 ul:first-child {
	border-bottom: 1px solid #EEEADE;
}

footer .footer_sitemap_inner {
	width: 1140px;
	margin: 0 auto;
}

footer .footer_sitemap_inner ul {
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

footer .footer_sitemap_inner ul li {
	margin-right: 30px;
	line-height: 1.5;
}

footer .footer_sitemap_inner ul li a {
	padding-right: 15px;
	background: url(../images/arrows01.png) no-repeat right center;
}

footer .footer_sitemap_inner ul li a:hover {
	text-decoration: underline;
}

footer .copyright {
	padding: 20px 0;
	background-color: #C4D502;
}

footer .copyright .copyright_inner {
	color: #fff;
	width: 1140px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

footer .copyright .copyright_inner .name {
	font-weight: bold;
}

footer .copyright .copyright_inner .cr {
	font-size: 14px;
}

}

@media screen and (max-width: 767px) {

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	color: #fff;
	font-size: 1.4rem;
	line-height: 170%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-align: center;
	margin: 0;
}

body.fp-viewing-top #logo_sub,
body.fp-viewing-top #page-top {
	opacity: 0;
}

img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.pcOnly {
	display: none;
}

.spOnly {
	display: block;
}

#page-top {
	border-radius: 2px;
}

#page-top:before {
	content: "";
	top: 0 !important;
}

#page-top:after {
	content: "";
	bottom: 0 !important;
}

.menu {
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, .8);
	z-index: 10001;
	position: fixed;
	top: 0;
	right: 0;
	padding: 16px 12px 0;
}

.menu span {
	-webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
	transition: all 400ms cubic-bezier(1, 0, 0, 1);
	-webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
	transition-timing-function: cubic-bezier(1, 0, 0, 1);
	display: block;
	height: 1px;
	background-color: #fff;
	margin-bottom: 7.5px;
}

.main_navi {
	background-color: rgba(0, 0, 0, .8);
	display: block;
}

.main_navi .main_navi_inner {
	padding-top: 60px;
	padding-left: 25px;
}

.main_navi .main_navi_inner .navi01 {
	overflow: hidden;
}

.main_navi .main_navi_inner .navi01 li {
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}

.main_navi .main_navi_inner .navi01 li a {
	text-decoration: none;
	display: block;
}

.main_navi .main_navi_inner .navi01 li a img {
	display: none;
}

.main_navi .main_navi_inner .navi01 li:last-child {
	margin-top: 12px;
}

.main_navi .main_navi_inner .navi01 li.n01 p {
	background: url(../images/sp/main_navi01.png) no-repeat;
	background-size: 48px 40px;
	width: 48px;
	height: 40px;
}

.main_navi .main_navi_inner .navi01 li.n02 p {
	background: url(../images/sp/main_navi02.png) no-repeat;
	background-size: 75px 40px;
	width: 75px;
	height: 40px;
}

.main_navi .main_navi_inner .navi01 li.n03 p {
	background: url(../images/sp/main_navi03.png) no-repeat;
	background-size: 75px 40px;
	width: 75px;
	height: 40px;
}

.main_navi .main_navi_inner .navi01 li.n04 p {
	background: url(../images/sp/main_navi04.png) no-repeat;
	background-size: 128px 31px;
	width: 128px;
	height: 31px;
}

.main_navi .main_navi_inner .navi01 li.n05 p {
	background: url(../images/sp/main_navi05.png) no-repeat;
	background-size: 128px 31px;
	width: 128px;
	height: 31px;
}

.main_navi .main_navi_inner .navi01 li.n06 p {
	background: url(../images/sp/main_navi06.png) no-repeat;
	background-size: 247px 31px;
	width: 247px;
	height: 31px;
}

.main_navi .main_navi_inner .navi01 li.n07 p {
	background: url(../images/sp/main_navi07.png) no-repeat;
	background-size: 128px 31px;
	width: 128px;
	height: 31px;
}

.main_navi .main_navi_inner .navi01 li.n08 p {
	background: url(../images/sp/main_navi08.png) no-repeat;
	background-size: 89px 31px;
	width: 89px;
	height: 31px;
}

.main_navi .main_navi_inner .navi01 li.n09 p {
	background: url(../images/sp/main_navi09.png) no-repeat;
	background-size: 103px 40px;
	width: 103px;
	height: 40px;
}

.main_navi .main_navi_inner .navi02 {
	font-size: 25px;
	margin-top: 12px;
	overflow: hidden;
}

.main_navi .main_navi_inner .navi02 li {
	float: left;
	margin-right: 15px;
}

.btn {
	width: 190px;
}

.btn a,
.btn p,
.btn button {
	display: block;
	border-left: 1px solid #FFF600;
	border-right: 1px solid #43D516;
	border-radius: 2px;
	position: relative;
	height: 50px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	font-size: 1.4rem;
}

.btn a:before,
.btn a:after,
.btn p:before,
.btn p:after,
.btn button:before,
.btn button:after {
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #43d516 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#43d516));
	background: linear-gradient(to right, #fffc00 0%, #43d516 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#43d516', GradientType=1);
}

.btn a:before,
.btn p:before,
.btn button:before {
	content: "";
	position: absolute;
	top: 0;
}

.btn a:after,
.btn p:after,
.btn button:after {
	content: "";
	bottom: 0;
}

.btn button {
	background-color: transparent;
	border-bottom: none;
	border-top: none;
}

.btn p input {
	background: transparent;
	border: none;
	width: 100%;
	height: 100%;
}

.btn.pink a {
	border-left: 1px solid #ffae00;
	border-right: 1px solid #f000ff;
}

.btn.pink a:before,
.btn.pink a:after {
	background: #ffae00;
	background: -webkit-linear-gradient(left, #ffae00 0%, #f000ff 100%);
	background: -webkit-gradient(linear, left top, right top, from(#ffae00), to(#f000ff));
	background: linear-gradient(to right, #ffae00 0%, #f000ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae00', endColorstr='#f000ff', GradientType=1);
}

#logo_sub {
	width: 99px;
	height: 72px;
	z-index: 11;
	position: fixed;
	top: 12px;
	left: 12px;
	margin: 0;
	opacity: 1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#logo_sub a {
	display: block;
	background: url(../images/logo_sub.png) no-repeat center center;
	background-size: 49.5px 36px;
	width: 49.5px;
	height: 36px;
}

#loader {
	display: none;
}

#t_p #page-top {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p .mainCont {
	opacity: 1 !important;
}

#t_p #fullpage h2 {
	padding: 0 0 20px;
	text-align: center;
}

#t_p #fullpage h2 img {
	width: 40%;
}

#t_p #fullpage .lead {
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.5;
}

#t_p #fullpage .btn {
	margin: 0 auto;
}

#t_p #fullpage .sec01 {
	position: relative;
	background-color: #2d1f1f;
	z-index: 9; /*世界地図　白*/ /*音楽で飛び出そう*/ /*paint*/
}

#t_p #fullpage .sec01 .mv01_1 {
	width: 100%;
	height: 100%;
	background: url(../images/sp/bg.png) no-repeat center center;
	background-size: cover;
	z-index: 11;
}

#t_p #fullpage .sec01 .mv01_2 {
	display: none;
}

#t_p #fullpage .sec01 .mv02 {
	display: none;
}

#t_p #fullpage .sec01 .mv03_1 {
	position: absolute;
	top: 26%;
	left: 50%;
	margin-left: -187.5px;
	z-index: 22;
	background: url(../images/sp/logo.png) no-repeat center center;
	background-size: 375px 182px;
	height: 182px;
	width: 375px;
}

#t_p #fullpage .sec01 .mv03_1 img {
	display: none;
}

#t_p #fullpage .sec01 .mv03_2 {
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -133.2px;
	background: url(../images/sp/lead.png) no-repeat center center;
	background-size: 266.5px 55px;
	height: 55px;
	width: 266.5px;
	text-indent: -9999px;
	z-index: 22;
}

#t_p #fullpage .sec01 .arrows {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -18px;
	z-index: 22;
	-webkit-animation: fluffy1 4s ease infinite;
	animation: fluffy1 4s ease infinite;
}

#t_p #fullpage .sec01 .arrows a {
	display: block;
}

#t_p #fullpage .sec02 {
	background: url(../images/bg_top01.jpg) no-repeat center center;
	background-size: cover;
	padding: 0 3%;
}

#t_p #fullpage .sec02 h2 {
	padding-top: 60px;
}

#t_p #fullpage .sec02 ul {
	padding-bottom: 10%;
}

#t_p #fullpage .sec02 ul li {
	overflow: hidden;
	text-align: left;
	padding-bottom: 7px;
	position: relative;
	margin-bottom: 25px;
}

#t_p #fullpage .sec02 ul li:last-child {
	margin-bottom: 0;
}

#t_p #fullpage .sec02 ul li:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #ff00d2 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#ff00d2));
	background: linear-gradient(to right, #fffc00 0%, #ff00d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#ff00d2', GradientType=1);
}

#t_p #fullpage .sec02 ul li p a:hover {
	opacity: 0.8;
	text-decoration: underline;
}

#t_p #fullpage .sec02 ul li:nth-child(n+5) {
	display: none;
}

#t_p #fullpage .sec03 {
	background: url(../images/bg_top02.jpg) no-repeat center center;
	background-size: cover;
}

#t_p #fullpage .sec03 .navi {
	background: url(../images/sp/work_navi_bg.png) no-repeat center center;
	background-size: cover;
	height: 0;
	padding-bottom: 80.8%;
	font-size: 0;
	text-align: center;
	margin-bottom: 15px;
}

#t_p #fullpage .sec03 .navi li {
	display: inline-block;
	width: 30%;
}

#t_p #fullpage .sec03 .navi li img {
	display: none;
}

#t_p #fullpage .sec03 .navi li:nth-child(4),
#t_p #fullpage .sec03 .navi li:nth-child(5) {
	width: 40%;
}

#t_p #fullpage .sec03 .navi li:nth-child(4) a,
#t_p #fullpage .sec03 .navi li:nth-child(5) a {
	padding-bottom: 50%;
}

#t_p #fullpage .sec03 .navi li a {
	width: 100%;
	display: block;
	background: url(../images/sp/dummy.png) no-repeat center center;
	background-size: cover;
	height: 0;
	padding-top: 40%;
	padding-bottom: 100%;
}

#t_p #fullpage .sec04 {
	background: url(../images/bg_top03.jpg) no-repeat center center;
	background-size: cover; /*.custom-wpcf7c-confirmed {
          .btn_contact {
            display: none;
          }
        }*/
}

#t_p #fullpage .sec04 h2 {
	padding-top: 60px;
}

#t_p #fullpage .sec04 .lead {
	font-size: 1.6rem;
	margin-bottom: 20px;
}

#t_p #fullpage .sec04 .cont {
	text-align: center;
	padding: 0 3% 8%;
}

#t_p #fullpage .sec04 .cont dl {
	overflow: hidden;
	margin-bottom: 15px;
	font-size: 1.4rem;
	text-align: left;
}

#t_p #fullpage .sec04 .cont dl dt {
	width: 100%;
	line-height: 1.5;
}

#t_p #fullpage .sec04 .cont dl dt span {
	color: #C4D502;
}

#t_p #fullpage .sec04 .cont dl dd {
	width: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div {
	display: block;
	border-left: 1px solid #FFF600;
	border-right: 1px solid #43D516;
	border-top: none;
	border-bottom: none;
	border-radius: 2px;
	position: relative;
	height: 42px;
	line-height: 42px;
	width: 100%;
	text-align: center;
}

#t_p #fullpage .sec04 .cont dl dd div:before,
#t_p #fullpage .sec04 .cont dl dd div:after {
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #43d516 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#43d516));
	background: linear-gradient(to right, #fffc00 0%, #43d516 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#43d516', GradientType=1);
}

#t_p #fullpage .sec04 .cont dl dd div:before {
	content: "";
	top: 0;
}

#t_p #fullpage .sec04 .cont dl dd div:after {
	content: "";
	bottom: 0;
}

#t_p #fullpage .sec04 .cont dl dd div input,
#t_p #fullpage .sec04 .cont dl dd div textarea,
#t_p #fullpage .sec04 .cont dl dd div select {
	outline: none;
	padding: 0 5px;
	font-size: 16px;
}

#t_p #fullpage .sec04 .cont dl dd div input {
	height: 42px;
	border: none;
	background: rgba(255, 255, 255, .2);
	width: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div textarea {
	border: none;
	background: rgba(255, 255, 255, .2);
	width: 100%;
	height: 100%;
}

#t_p #fullpage .sec04 .cont dl dd div select {
	color: #fff;
	width: 100%;
	background: rgba(255, 255, 255, .2);
	border: none;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#t_p #fullpage .sec04 .cont dl dd div select option {
	color: #000;
}

#t_p #fullpage .sec04 .cont dl dd div .selectWrap {
	position: relative;
}

#t_p #fullpage .sec04 .cont dl dd div .selectWrap::before {
	content: '';
	background: url(../images/sp/arrow_select.png) no-repeat center 98%;
	background-size: 7px 6px;
	position: absolute;
	z-index: 100;
	margin-top: -3px;
	top: 50%;
	right: 10px;
	height: 6px;
	width: 7px;
}

#t_p #fullpage .sec04 .cont dl dd.ta div {
	height: 100px;
}

#t_p #fullpage .sec04 .cont p a {
	color: #eaff00;
	text-decoration: underline;
}

#t_p #fullpage .sec04 .cont p a:hover {
	text-decoration: none;
}

#t_p #fullpage .sec04 .cont .text01 {
	font-size: 1.2rem;
}

#t_p #fullpage .sec04 .cont .pi {
	margin-top: 1em;
	margin-bottom: 20px;
	z-index: 10000000;
	position: relative;
}

#t_p #fullpage .sec04 .cont label {
	display: block;
	position: relative;
	z-index: 1000;
	cursor: pointer;
}

#t_p #fullpage .sec04 .cont label .icheckbox_minimal {
	margin-right: 5px;
}

#t_p #fullpage .sec04 .cont .btn_contact {
	width: 240px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#t_p #fullpage .sec04 .cont .btn_contact input {
	background: url(../images/btn_line.png) no-repeat center center;
	border: none;
	line-height: 60px;
	height: 60px;
	width: 240px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p #fullpage .sec04 .cont .btn_contact input[type="submit"][disabled] {
	border: none;
	background-color: transparent;
	cursor: not-allowed;
	color: #383838;
}

#t_p #fullpage .sec04 .cont .btnArea_contact {
	overflow: hidden;
	position: relative;
	height: 200px;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7c-elm-step2 {
	font-size: 16px;
	text-align: center;
	background-color: transparent;
	border: none;
	background: url(../images/btn_line.png) no-repeat center center;
	border: none;
	line-height: 60px;
	height: 60px;
	width: 240px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-back,
#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-submit {
	position: absolute;
	left: 50%;
	margin-left: -120px;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-back {
	top: 0;
}

#t_p #fullpage .sec04 .cont .btnArea_contact .wpcf7-submit {
	top: 70px;
}

#sub .bg {
	background: url(../images/work/main_bg.png) no-repeat center center;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#sub #wrap {
	z-index: 2;
	position: relative;
	text-align: center;
}

#sub.work #wrap {
	padding-top: 60px;
}

#sub.work #wrap h3 {
	text-indent: -9999px;
	margin: 0 auto;
}

#sub.work #wrap .btn {
	margin: 0 auto;
}

#sub.work #wrap .leadArea {
	margin-top: -26px;
}

#sub.work #wrap .leadArea .lead {
	color: #D28522;
	font-size: 1.6rem;
	line-height: 1.5;
	margin-bottom: 10px;
}

#sub.work #wrap .leadArea .lead_sub {
	font-size: 1.4rem;
}

#sub.work #wrap .leadArea .lead_sub span {
	font-size: 22px;
	display: block;
	padding-bottom: 3px;
}

#sub.work #wrap .title_sub {
	margin-top: 50px;
}

#sub.work #wrap .sec01 {
	padding-bottom: 25px;
	padding: 0 3%;
}

#sub.work #wrap .sec01 h2 {
	margin-bottom: 50px;
}

#sub.work #wrap .sec01 h2 img {
	width: 30%;
}

#sub.work #wrap .sec01 .navi {
	overflow: hidden;
}

#sub.work #wrap .sec01 .navi li {
	display: table;
	width: 62px;
	margin-right: 10px;
	float: left;
	background: url(../images/arrow.png) no-repeat center 90%;
	background-size: 12px 6px;
}

#sub.work #wrap .sec01 .navi li:last-child {
	margin-right: 0;
}

#sub.work #wrap .sec01 .navi li a {
	outline: none;
	display: table-cell;
	vertical-align: middle;
	border-left: 1px solid #FFF600;
	border-right: 1px solid #43D516;
	border-radius: 2px;
	position: relative;
	height: 80px;
	width: 100%;
	text-align: center;
	padding: 0 5px;
}

#sub.work #wrap .sec01 .navi li a:before,
#sub.work #wrap .sec01 .navi li a:after {
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #43d516 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#43d516));
	background: linear-gradient(to right, #fffc00 0%, #43d516 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#43d516', GradientType=1);
}

#sub.work #wrap .sec01 .navi li a:before {
	content: "";
	position: absolute;
	top: 0;
}

#sub.work #wrap .sec01 .navi li a:after {
	content: "";
	bottom: 0;
}

#sub.work #wrap .sec02 {
	padding-bottom: 45px;
	padding: 0 3%;
}

#sub.work #wrap .sec02 h3 {
	background: url(../images/work/title01.png) no-repeat;
	background-size: 156.5px 155.5px;
	width: 156.5px;
	height: 155.5px;
}

#sub.work #wrap .sec02 .title_sub {
	margin-bottom: 5px;
}

#sub.work #wrap .sec02 .title_sub img {
	width: 87px;
}

#sub.work #wrap .sec02 .btn {
	overflow: hidden;
	float: none;
	margin: 0 auto;
	display: block;
}

#sub.work #wrap .sec02 ul {
	overflow: hidden;
	margin-bottom: 38px;
	font-size: 0;
}

#sub.work #wrap .sec02 ul li {
	width: 48%;
	display: inline-block;
	margin-bottom: 20px;
}

#sub.work #wrap .sec02 ul li a {
	display: block;
}

#sub.work #wrap .sec02 ul li span {
	display: block;
	font-size: 1.4rem;
}

#sub.work #wrap .sec02 ul li.cate02 {
	width: 43%;
}

#sub.work #wrap .sec03 {
	padding: 0 3% 30px;
}

#sub.work #wrap .sec03 h3 {
	background: url(../images/work/title02.png) no-repeat;
	background-size: 171px 156px;
	width: 171px;
	height: 156px;
}

#sub.work #wrap .sec03 ul {
	font-size: 0;
	margin: -15px auto 0;
}

#sub.work #wrap .sec03 ul li {
	display: inline-block;
	margin: 0 10px 30px;
	width: 43%;
}

#sub.work #wrap .sec04 {
	padding: 0 3% 50px;
}

#sub.work #wrap .sec04 h3 {
	background: url(../images/work/title03.png) no-repeat;
	background-size: 277px 167px;
	width: 277px;
	height: 167px;
}

#sub.work #wrap .sec04 .text01 {
	font-size: 1.6rem;
	color: #D28522;
	margin-top: 25px;
}

#sub.work #wrap .sec04 .text02 {
	width: 108.5px;
	margin: 25px auto 10px;
}

#sub.work #wrap .sec04 .promotion {
	width: 50%;
	margin: 0 auto;
}

#sub.work #wrap .sec04 .promotion a {
	outline: none;
}

#sub.work #wrap .sec04 .promotion_content {
	display: none;
}

#sub.work #wrap .sec04 .playlist {
	overflow: hidden;
	margin-right: -40px;
	margin: 0 auto;
}

#sub.work #wrap .sec04 .playlist li {
	margin: 0 0 10px;
}

#sub.work #wrap .sec04 .playlist li.btn {
	margin: 0 auto;
}

#sub.work #wrap .sec05 {
	padding: 0 3% 50px;
}

#sub.work #wrap .sec05 h3 {
	background: url(../images/work/title04.png) no-repeat;
	background-size: 136px 146.5px;
	width: 136px;
	height: 146.5px;
}

#sub.work #wrap .sec05 ul {
	overflow: hidden;
}

#sub.work #wrap .sec05 ul li {
	text-align: left;
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin-bottom: 30px;
}

#sub.work #wrap .sec05 ul li:last-child {
	margin-right: 0 !important;
}

#sub.work #wrap .sec05 ul li .title {
	overflow: hidden;
	text-align: left;
	padding-bottom: 7px;
	position: relative;
	margin-bottom: 5px;
	font-size: 1.6rem;
	line-height: 18px;
	overflow: hidden;
}

#sub.work #wrap .sec05 ul li .title span {
	float: left;
	text-align: left;
	width: 88%;
}

#sub.work #wrap .sec05 ul li .title span.nu {
	width: 19.5px;
	margin-right: 5px;
	height: 15px;
	padding-top: 2px;
}

#sub.work #wrap .sec05 ul li .title:last-child {
	margin-bottom: 0;
}

#sub.work #wrap .sec05 ul li .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #ff00d2 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#ff00d2));
	background: linear-gradient(to right, #fffc00 0%, #ff00d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#ff00d2', GradientType=1);
}

#sub.work #wrap .sec05 ul.box02 {
	margin-top: 20px;
}

#sub.work #wrap .sec06 {
	padding: 0 3% 110px;
}

#sub.work #wrap .sec06 h3 {
	background: url(../images/work/title05.png) no-repeat;
	background-size: 143.5px 131.5px;
	width: 143.5px;
	height: 131.5px;
}

#sub.work #wrap .sec06 .leadArea {
	margin-top: -15px;
}

#sub.work #wrap .sec06 .leadArea .lead_sub {
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 1.5;
}

#sub.work #wrap .sec06 .sec06_logo {
	width: 99px;
	margin: 0 auto 30px;
}

#sub.delivery h2 {
	width: 156.5px;
	margin: 0 auto;
}

#sub.delivery h3 {
	color: #D28522;
	font-size: 1.6rem;
}

#sub.delivery .sub_title {
	font-size: 1.5rem;
	color: #C4D502;
	margin-top: 10px;
	margin-bottom: 22px;
}

#sub.delivery .sec01 {
	padding: 15px 3% 0;
}

#sub.delivery .sec02 {
	padding: 0 3% 50px;
}

#sub.delivery .sec02 .text01 {
	font-size: 1.2rem;
	padding: 10px 0 0;
	text-align: left;
}

#sub.delivery .sec02 .text01 span {
	font-size: 1.1rem;
}

#sub.delivery .sec02 .text02 {
	font-size: 1.2rem;
	text-align: left;
	margin-top: 5px;
}

#sub.delivery .sec02 .box01 {
	margin-top: 22px;
	margin: 0 auto;
	background: url(../images/sp/delivery/line.png) no-repeat center bottom;
	background-size: contain;
	padding-bottom: 15px;
}

#sub.delivery .sec02 .box01 li {
	width: 100%;
	font-size: 1.1rem;
	line-height: 1.5;
	margin-bottom: 20px;
	display: table;
	height: 80px;
}

#sub.delivery .sec02 .box01 li:last-child {
	margin-bottom: 0;
}

#sub.delivery .sec02 .box01 li p {
	width: 80%;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}

#sub.delivery .sec02 .box01 li p span {
	font-size: 1.4rem;
}

#sub.delivery .sec02 .box01 li img {
	display: table-cell;
	width: 80px;
}

#sub.delivery .sec02 .box02,
#sub.delivery .sec02 .box03 {
	overflow: hidden;
}

#sub.delivery .sec02 .box02 li,
#sub.delivery .sec02 .box03 li {
	text-align: left;
	margin-bottom: 20px;
}

#sub.delivery .sec02 .box02 li:last-child,
#sub.delivery .sec02 .box03 li:last-child {
	margin-right: 0 !important;
}

#sub.delivery .sec02 .box02 li .title,
#sub.delivery .sec02 .box03 li .title {
	overflow: hidden;
	text-align: left;
	padding-bottom: 5px;
	position: relative;
	margin-bottom: 5px;
	font-size: 1.6rem;
	line-height: 1.5;
}

#sub.delivery .sec02 .box02 li .title span,
#sub.delivery .sec02 .box03 li .title span {
	font-size: 1.2rem;
	display: block;
}

#sub.delivery .sec02 .box02 li .title:last-child,
#sub.delivery .sec02 .box03 li .title:last-child {
	margin-bottom: 0;
}

#sub.delivery .sec02 .box02 li .title:after,
#sub.delivery .sec02 .box03 li .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #ff00d2 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#ff00d2));
	background: linear-gradient(to right, #fffc00 0%, #ff00d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#ff00d2', GradientType=1);
}

#sub.delivery .sec02 .box02.box02,
#sub.delivery .sec02 .box03.box02 {
	margin-top: 40px;
}

#sub.delivery .sec02 .box02.box02 li,
#sub.delivery .sec02 .box03.box02 li {
	width: 372px;
	margin-right: 42px;
}

#sub.delivery .sec02 .box02.box03 li,
#sub.delivery .sec02 .box03.box03 li {
	width: 100%;
}

#sub.delivery .sec03 {
	padding: 0 3% 90px;
}

#sub.delivery .sec03 h3 {
	margin-bottom: 10px;
}

#sub.delivery .sec03 .lead {
	margin-bottom: 10px;
}

#sub.delivery .sec03 ul {
	padding-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#sub.delivery .sec03 ul li {
	margin: 0 15px;
}

#sub.others h2 {
	width: 143.5px;
	margin: 0 auto;
}

#sub.others h3 {
	color: #D28522;
	font-size: 1.6rem;
	margin-bottom: 6px;
}

#sub.others .sec01 {
	padding-top: 30px;
}

#sub.others .sec01 p {
	width: 182px;
	margin: 0 auto;
}

#sub.others .sec01,
#sub.others .sec02,
#sub.others .sec03 {
	padding: 0 3%;
	margin-bottom: 45px;
	font-size: 1.4rem;
}

#sub.others .sec01 span,
#sub.others .sec02 span,
#sub.others .sec03 span {
	font-size: 1.2rem;
}

#sub.others .sec04 {
	padding: 0 3% 30px;
}

#sub.others .sec04 p {
	margin-bottom: 25px;
}

#sub.others .sec04 p:last-child {
	margin-bottom: 0;
}

#sub.others .sec04 h4 {
	overflow: hidden;
	padding-bottom: 5px;
	position: relative;
	margin-bottom: 10px;
	font-size: 1.5rem;
}

#sub.others .sec04 h4.pink {
	color: #C4D502;
}

#sub.others .sec04 h4 span {
	font-size: 16px;
}

#sub.others .sec04 h4:last-child {
	margin-bottom: 0;
}

#sub.others .sec04 h4:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #ff00d2 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#ff00d2));
	background: linear-gradient(to right, #fffc00 0%, #ff00d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#ff00d2', GradientType=1);
}

#sub.others .sec04 h5 {
	border-bottom: 1px solid #616161;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 1.5rem;
}

#sub.others .sec04 .column01 {
	padding: 20px 30px 30px;
	background-color: rgba(0, 0, 0, .4);
}

#sub.others .sec05 {
	padding: 0 3% 90px;
	font-size: 1.4rem;
}

#sub.others .sec05 p {
	margin-bottom: 25px;
}

#sub.others .sec05 p:last-child {
	margin-bottom: 0;
}

#sub.others .sec05 ul {
	padding-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#sub.others .sec05 ul li {
	margin: 0 15px;
}

#sub.others .sec05 .text01 {
	text-align: left;
	padding: 10px;
	border: 1px solid #fff;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-top: -17px;
}

#sub.privacy_policy h2 {
	width: 234px;
	margin: 0 auto;
}

#sub.privacy_policy h3 {
	color: #D28522;
	font-size: 1.6rem;
	margin-top: 60px;
	margin-bottom: 20px;
}

#sub.privacy_policy .sec01 {
	padding: 60px 3% 0;
}

#sub.privacy_policy .sec02 {
	padding: 0 3% 50px;
	text-align: left;
}

#sub.privacy_policy .sec02 h3 {
	text-align: center;
}

#sub.privacy_policy .sec02 h4 {
	overflow: hidden;
	text-align: left;
	padding-bottom: 5px;
	position: relative;
	margin-bottom: 10px;
	font-size: 1.6rem;
}

#sub.privacy_policy .sec02 h4 span {
	margin-right: 10px;
}

#sub.privacy_policy .sec02 h4:last-child {
	margin-bottom: 0;
}

#sub.privacy_policy .sec02 h4:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #ff00d2 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#ff00d2));
	background: linear-gradient(to right, #fffc00 0%, #ff00d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#ff00d2', GradientType=1);
}

#sub.privacy_policy .sec02 p {
	margin-bottom: 35px;
}

#sub.privacy_policy .sec02 p span {
	display: block;
	font-size: 1.2rem;
	margin-top: 10px;
}

footer {
	background: #000000;
	text-align: center;
}

footer .copyright {
	position: relative;
	background-color: #302929;
	padding: 5%;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #fff;
}

footer .copyright ul {
	font-size: 0;
	height: 32px;
	text-align: center;
}

footer .copyright ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
}

footer .copyright ul li span {
	color: #fff;
	font-size: 16px;
	vertical-align: top;
}

footer .copyright ul li a {
	display: block;
}

footer .office {
	padding: 3% 0 5%;
}

footer .office a {
	display: block;
	width: 20%;
	margin: 0 auto;
}

footer .office span {
	text-decoration: underline;
	line-height: 3.0;
	font-size: 1.2rem;
}

footer .office img {
	width: 43%;
}

.promotion_content_inner {
	font-family: Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", "Meiryo";
	padding: 0;
	background-color: transparent;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	overflow: hidden;
	height: 80%; /*.promotion_content_inner_prof {
      height: 500px;
      overflow: hidden;
    }*/
}

.promotion_content_inner .nameArea {
	background: url(../images/artist/yuce/pic01.png) no-repeat left top;
	background-size: 124.5px 86px;
	margin-left: 2px;
	height: 86px;
	display: table;
	text-align: left;
}

.promotion_content_inner .nameArea .nameArea_inner {
	padding-left: 135px;
	display: table-cell;
	vertical-align: middle;
}

.promotion_content_inner .nameArea .nameArea_inner .name {
	width: 60px;
}

.promotion_content_inner .nameArea .nameArea_inner .text {
	margin-top: 5px;
	font-size: 1.2rem;
	color: #C4D502;
	line-height: 1.4;
}

.promotion_content_inner .promotion_box {
	margin-top: 25px;
	font-size: 1.2rem;
	text-align: left;
}

.promotion_content_inner .promotion_box .promotion_title {
	overflow: hidden;
	padding-bottom: 5px;
	position: relative;
	margin-bottom: 10px;
	font-size: 1.6rem;
	text-align: left;
	line-height: 1.5;
}

.promotion_content_inner .promotion_box .promotion_title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: #2989d8;
	background: -webkit-linear-gradient(left, #2989d8 0%, #43d516 0%, #fff600 100%, #fff600 100%);
	background: -webkit-gradient(linear, left top, right top, from(#2989d8), color-stop(0%, #43d516), color-stop(100%, #fff600), to(#fff600));
	background: linear-gradient(to right, #2989d8 0%, #43d516 0%, #fff600 100%, #fff600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#fff600', GradientType=1);
}

.promotion_content_inner .promotion_box .caution {
	font-size: 1.1rem;
	line-height: 1.5;
}

.promotion_content_inner .promotion_code {
	margin-top: 20px;
	overflow: hidden;
}

.promotion_content_inner .promotion_code .promotion_code_pic {
	float: left;
	width: 40%;
}

.promotion_content_inner .promotion_code .promotion_code_text {
	float: left;
	padding-left: 5px;
	display: table;
	width: 60%;
}

.promotion_content_inner .promotion_code .promotion_code_text div {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}

.promotion_content_inner .promotion_code .promotion_code_text div .promotion_code_text01 {
	font-size: 1.6rem;
	color: #C4D502;
	line-height: 1.1;
}

.promotion_content_inner .promotion_code .promotion_code_text div .promotion_code_text02 {
	font-size: 1.2rem;
	line-height: 1.2;
}

.fs-lightbox-close {
	width: 190px !important;
	display: block;
	border-left: 1px solid #FFF600;
	border-right: 1px solid #43D516;
	border-top: none;
	border-bottom: none;
	border-radius: 2px;
	position: relative;
	height: 50px !important;
	line-height: 50px !important;
	text-align: center;
	background-color: transparent;
	margin-left: -85px;
	left: 50% !important;
	bottom: 10px !important;
}

.fs-lightbox-close:before,
.fs-lightbox-close:after {
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	background: #fffc00;
	background: -webkit-linear-gradient(left, #fffc00 0%, #43d516 100%);
	background: -webkit-gradient(linear, left top, right top, from(#fffc00), to(#43d516));
	background: linear-gradient(to right, #fffc00 0%, #43d516 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffc00', endColorstr='#43d516', GradientType=1);
}

.fs-lightbox-close:before {
	content: "";
	position: absolute;
	top: 0;
}

.fs-lightbox-close:after {
	content: "";
	bottom: 0;
}

}

@keyframes fadeIn {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@-webkit-keyframes fadeIn {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@-webkit-keyframes fluffy1 {

0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

5% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

10% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

20% {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

25% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

30% {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

50% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}

@keyframes fluffy1 {

0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

5% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

10% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

20% {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

25% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

30% {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

50% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}

