@font-face {
  font-family: 'Noto Serif Japanese'; /* font-family名を指定 */
  font-style: normal;
  font-weight: 400; /* CSS記述時の対応ウェイトを指定 */
  src: url("../fonts/NotoSerifJP-Regular.woff") format('woff'),
       url("../fonts/NotoSerifJP-Regular.otf")  format('opentype');
       /* フォントファイル読み込み */
  font-display: swap;/* 読み込みが終わるまでデバイスフォントで表示（対応ブラウザはまだ少ない記述のようです） */
}

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSerifJP-SemiBold.woff") format('woff'),
       url("../fonts/NotoSerifJP-SemiBold.otf")  format('opentype');
  font-display: swap;
}

html {
  width: 100%;
  color: #000;
  overflow-x: hidden;
  font-size: 10px;
  background: #FFF;
}

body {
  font-family: $default-font;
  font-size: 1.6rem;
  line-height: 1.8;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  min-width: 1200px;
  &.android{
    font-family: 'Noto Serif Japanese', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS P明朝", "MS PMincho", serif;
  }
  @include min-max{
    min-width: 100%;
  }
  @include max{
    min-width: 100%;
  }
}

.serif {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "游明朝体", "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, serif;
}

body > noscript > img,
body > iframe {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2,
h3, h4, h5, h6, pre, code, form, fieldset,
legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  word-break: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

em {
  font-style: italic;
}

ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

img {
  vertical-align: bottom;
  //max-width: 100%;
  height: auto;
  @include max{
    max-width: 100%;
  }
}

/* clearfix */
.clearfix {
  min-height: 1px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

a, .btn {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
  text-decoration: none;
  color: #000;
  opacity: 1;
  cursor: pointer;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.content-block a:hover,
header a:hover,
footer a:hover,
.btn a:active,
.btn a:hover,
.btn:active,
.btn:hover {
  outline-width: 0;
  opacity: .6;
}

#fb-root {
  display: none;
}

@media only screen
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:portrait){
  body{
    min-width:1280px;
  }
}

@media only screen
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:landscape) {
  body{
    min-width:1280px;
  }
}