/* -----------------------------------------------------------
	#footer
----------------------------------------------------------- */
div#footer{
	padding: 2em 0 1.5em;
	margin:0px auto 0;
	text-align:center;
}
.footer {
	width: 100%;
	border-top: 1px solid #333;
	background-color: #fff;
	position: relative;
	padding-top: 44px;
	padding-bottom:40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size:13px; }
	.footer,
	.footer a {
		color: #373D3F;
		text-decoration: none; }
		.footer:hover,
		.footer a:hover {
			color: #373D3F;
			text-decoration: none; }
	@media screen and (max-width: 980px) {
		.footer {
			width: 100%; } }
	@media screen and (max-width: 37.5em) {
		.footer {
		font-size:12px; }
	 }
.footer--sns {
	display: block;
	margin-bottom: 24px;
	text-align: center;
}
.footer--menu{
	display: block;
	margin-bottom: 36px;
}
.footer--menu ul {
	overflow: hidden;
	*zoom: 1;
	text-align: center;
	/*float: right;*/ }
		@media screen and (max-width: 980px) {
		.footer--menu ul {
			/*float: none;
			text-align: left;*/
			text-align:center;
			margin-bottom: 18px;
			display: block; }
			.footer--menu ul:last-child {
				margin-bottom: 0; } }
.footer--menu ul li {
	display: inline-block;
	position: relative;
	line-height: 18px; }
		@media screen and (max-width: 980px) {
			.footer--menu ul li {
				/*display: block;
				line-height: 2.5;*/
				margin-bottom: 16px;
				} 
				}
			@media screen and (max-width: 37.5em) {
			.footer--menu ul li {
				display: inline-block;
			 }
			 }
.footer--menu ul li:not(:first-child)::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 1px;
	background:#e3e3e3;
	top: 0;
	left: 0; }
			@media screen and (max-width: 980px) {
				/*.footer--menu ul li:not(:first-child)::after {
					display: none; } */}
			@media screen and (max-width: 37.5em) {
				.footer--menu ul li:not(:nth-child(even))::after {
					display: none; } }
.footer--menu ul li a {
	display: block;
	padding: 0 1.5em; }

			@media screen and (max-width: 980px) {
				/*.footer--menu ul li a {
					padding-right: 23px;
					padding-left: 0px; }*/
				 }
			@media screen and (max-width: 37.5em) {
			.footer--menu ul li a {
				display: block;
				padding: 0 1em; 
			}
/*			.footer--menu ul li:nth-child(odd) a {
				text-align:right;
				display: block;
				padding: 0 1em 0 0; }
			.footer--menu ul li:nth-child(even) a {
				text-align:left;
				display: block;
				padding: 0 0 0 1em; }
*/			}
		@media screen and (max-width: 980px) {
			/*.footer--menu ul li i {
				display: block;
				width: 21px;
				height: 21px;
				position: relative;
				margin-left: auto;
				margin-right: auto;
				border-radius: 50%;
				background-color: #f0f0f0;
				position: absolute;
				left: 18px;
				top: 0;
				bottom: 0;
				margin-top: auto;
				margin-bottom: auto; }
				.footer--menu ul li i::after {
					content: "";
					position: absolute;
					width: 33.3%;
					height: 33.3%;
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg); }
				.footer--menu ul li i::after {
					left: 25.50104%;
					top: 0;
					bottom: 0;
					margin-top: auto;
					margin-bottom: auto;
					border-top: 1px solid #000;
					border-right: 1px solid #000; }*/ }

.footer--logo {
	width: 182px;
	height: 37px;
	/*display: block;*/
	display:inline-block;
	text-indent: -9999px;
	overflow: hidden;
	/*text-align: left;*/
	text-align:center;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../img/index_foot_logo2.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	margin-bottom: 26px;
	/*float: left; */}
	@media screen and (max-width: 980px) {
		.footer--logo {
			/*float: none;*/
			margin-left: auto;
			margin-right: auto; } }

.m-sns-wrap {
  margin-bottom: 24px; }
  .m-sns-wrap:last-child {
    margin-bottom: 0; }

.m-sns {
  text-align: center;
  line-height: 20px;
  height: 20px; }
  @media screen and (max-width: 37.5em) {
    .m-sns {
      height: auto; } }

.m-sns-item {
  display: inline-block;
  margin-right: 14px;
  height: 20px;
  vertical-align: middle; }
  .m-sns-item:last-child {
    margin-right: 0; }

.m-sns-facebook {
  min-width: 119px;
  overflow: hidden; }
  .m-sns-facebook .fb-like > span {
    vertical-align: top !important; }

.m-sns-twitter {
  min-width: 75px;
  overflow: hidden; }

.m-sns-line {
  min-width: 83px; }


#copyright {
	font-size: 10px;
	text-align: center; }

#navBlock{
	margin-left: auto;
	margin-right: auto;
	padding-top:40px;
	padding-bottom:30px;
	border-bottom: 1px solid #374248;
}