header{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	&.fixed{
		.header__inner{
			top: 0;
		}
		.h-logo{
			top: 20px;
			@include max{
				top: PXtoVW(12);
			}
		}
		.share{
			top: 30px;
		}
		.snsbtn32{
			top: 28px;
		}
	}
	@include min{
		height: 80px;
	}
	.header__inner{
		width: 100%;
		background-color: rgba(255,255,255,1);
		position: relative;
		left: 0;
		top: -80px;
		height: 80px;
		border-bottom: 1px solid #e5e5e5;
		transition: 0.3s;
		@include max{
			top: PXtoVW(-50);
			height: PXtoVW(50);
		}
	}
	.h-logo{
		position: fixed;
		left: 30px;
		top: -60px;
		z-index: 1;
		transition: 0.3s;
		img{
			width: 134px;
			height: auto;
		}
		@include max{
			left: PXtoVW(15);
			top: PXtoVW(-60);
			img{
				width: PXtoVW(85);
			}
		}
	}
	.share{
		position: fixed;
		right: 30px;
		top: -50px;
		z-index: 1;
		transition: 0.3s;
		cursor: pointer;
		&:hover{
					opacity: 0.5;
				}
		img{
			width: 18px;
			height: auto;
		}
		@include max{
			display: none;
		}
	}
}

#menu_content{
	text-align: center;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	@include max{
		height: 100vh;
		background-color: rgba(255,255,255,0.9);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: 0.5s;
		&.active{
			opacity: 1;
			visibility: visible;
		}
	}
}

#menu{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-family-lato;
	@include min{
		height: 80px;
	}
	@include max{
		display: block;
	}
	li{
		@include min{
			margin: 0 25px;
		}
		@include max{
			margin: 20px 0;
		}
		a{
			@include min{
				font-size: 14px;
				padding: 10px;
				text-decoration: none;
				transition: 0.5s;
				&:hover{
					opacity: 0.5;
				}
			}
			@include max{
				font-size: PXtoVW(20);
				padding: PXtoVW(8);
				text-decoration: none;
			}
		}
	}
}

.menu_share{
	@include min{
		display: none;
	}
	@include max{
		display: block;
		margin-top: PXtoVW(30);
		img{
			width: PXtoVW(15);
		}
	}
}

.menu_btn {
	@include min{
		display: none;
	}
  position: fixed;
  right: PXtoVW(5);
  top: PXtoVW(8);
  z-index: 15;
  cursor: pointer;
  padding: 10px;
  &.active span {
    &:nth-of-type(1) {
      -webkit-transform: translateY(7px) rotate(-45deg);
      transform: translateY(7px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      -webkit-transform: translateY(-7px) rotate(45deg);
      transform: translateY(-7px) rotate(45deg);
    }
  }
  .wrap {
    width: 20px;
    height: 15px;
    position: relative;
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
  }
  span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 7px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

.snsbtn32{
	@include min{
		position: fixed;
		right: 53px;
		top: -52px;
		transform: translateX(0px);
	}
	@include max{
		position: relative;
		transform: translateY(10px);
	}
	z-index: 10;
	opacity: 0;
	transition: 0.3s;
	visibility: hidden;
	&.active{
		visibility: visible;
		opacity: 1;
		@include min{
			transform: translateX(-10px);
		}
		@include max{
			transform: translateY(20px);
		}
	}
	a{
		&:nth-of-type(3){
			margin-right: 0;
		}
	}
}