body{
	font-family: "dnp-shuei-gothic-gin-std","游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.wrapper
{
  width: 100%;
  overflow: hidden;
  //min-width: 1140px;
  opacity: 0;
  transition: opacity 1s;
  &.loaded{
	  opacity: 1;
  }
}

section{
	position: relative;
}

main{
	position: relative;
	background-color: #fff;
	margin-top: 100vh;
}
